<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->add_announcement}</title>
{$headerinclude}
</head>
<body>
	{$header}
	<form action="modcp.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="do_new_announcement" />
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="fid" value="{$announcement_fid}" />
		<div class="container-md">
		
		<div class="row">
			
			<div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">

{$modcp_nav}
			</div>
			<div class="col">
				<!-- offcanvas -->
				<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
				<button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="bi bi-list"></i> &nbsp;{$lang->nav_menu}
</button>
				
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header catmod">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{$lang->nav_menu}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body catmod">
    <div>
     {$modcp_nav}
    </div>
  </div>
</div>
				</div>
				<!-- /offcanvas -->
					{$errors}
					{$preview}
					<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	<div class="legend mb-4">{$lang->add_announcement}</div>
<div class="ps-3 pe-3">	<label>{$lang->title}</label>
	<input type="text" class="form-control border" name="title" size="40" value="{$title}" /></td>
						<div class="mt-3">{$lang->start_date}</div>
						<div class="row mb-3">
							<div class="col align-self-center">
								<select name="starttime_day" class="form-select border">
								{$startdateday}
								</select>
							</div>
							<div class="col align-self-center">
								<select name="starttime_month" class="form-select border">
								{$startdatemonth}
								</select>
							</div>
							<div class="col align-self-center">
								<input type="text" name="starttime_year" value="{$startdateyear}" size="4" maxlength="4" class="form-control border" />
							</div>
							<div class="col-auto align-self-center">
								 {$lang->time} 
							</div>
							<div class="col align-self-center">
								<input type="text" name="starttime_time" value="{$starttime_time}" size="10" class="form-control border" />
							</div>
						</div>
						<input type="radio" class="form-check-input" name="endtime_type" value="1"{$end_type_sel['finite']} /> {$lang->end_date}
						<div class="row mb-3">
							<div class="col align-self-center">
								<select name="endtime_day" class="form-select border">
								{$enddateday}
								</select>
							</div>
							<div class="col align-self-center">
								<select name="endtime_month" class="form-select border">
								{$enddatemonth}
								</select>
							</div>
							<div class="col align-self-center">
								<input type="text" name="endtime_year" value="{$enddateyear}" size="4" maxlength="4" class="form-control border" />
							</div>
							<div class="col-auto align-self-center">
								{$lang->time} 
							</div>
							<div class="col align-self-center">
								<input type="text" name="endtime_time" value="{$endtime_time}" size="10" class="form-control border" />
							</div>
						</div>
								<input type="radio" class="form-check-input" name="endtime_type" value="2"{$end_type_sel['infinite']} /> {$lang->never}
						
						<div class="mt-3"></div>
							
							{$lang->announcement}
							<textarea id="message" name="message" class="form-control border" style="height: 350px" rows="20" cols="70">{$message}</textarea>{$codebuttons}
						
						{$allow_html}
						<div class="mt-2"></div>
						{$lang->allow_mycode} <input type="radio" class="form-check-input" name="allowmycode" value="1"{$mycode_sel['yes']} />&nbsp;{$lang->yes}</label> &nbsp;&nbsp;<label><input type="radio" class="form-check-input" name="allowmycode" value="0"{$mycode_sel['no']} />&nbsp;{$lang->no}</label>&nbsp;&nbsp;&nbsp; {$lang->allow_smilies} <input type="radio" class="form-check-input" name="allowsmilies" value="1"{$smilies_sel['yes']} />&nbsp;{$lang->yes}</label> &nbsp;&nbsp;<label><input type="radio" class="form-check-input" name="allowsmilies" value="0"{$smilies_sel['no']} />&nbsp;{$lang->no}</label>
					
					<div class="mt-3 text-end">
						<input type="submit" class="btn btn-primary" value="{$lang->add_announcement}" />&nbsp;&nbsp;
						<input type="submit" class="btn btn-primary" name="preview" value="{$lang->preview}" />
					</div>
			</div>
	</form>
	</div></div>
</div></div>
</div>
	{$footer}
</body>
</html>