<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->warning_logs}</title>
{$headerinclude}
</head>
<body>
	{$header}
	<div class="container-md">
		
		<div class="row">
			
			<div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">

{$modcp_nav}
			</div>
			<div class="col">
				<!-- offcanvas -->
				<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
				<button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="bi bi-list"></i> &nbsp;{$lang->nav_menu}
</button>
				
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header catmod">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{$lang->nav_menu}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body catmod">
    <div>
     {$modcp_nav}
    </div>
  </div>
</div>
				</div>
				<!-- /offcanvas -->


<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	
	<div class="legend mb-4">{$lang->warning_logs}</div>
	
	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
	<div class="row ps-3 pe-3 m-0">
    <div class="col align-self-center">{$lang->warned_user}</div>
    <div class="col align-self-center">{$lang->warning}</div>
    <div class="col align-self-center">{$lang->date_issued}</div>
    <div class="col align-self-center">{$lang->expires}</div>
    <div class="col align-self-center">{$lang->issued_by}</div>
    <div class="col-auto align-self-center">{$lang->details}</div>
</div>
	</div>
				
					{$warning_list}
				
				
				<br />
				<form action="modcp.php" method="get">

					<div class="legend mt-4 mb-4">{$lang->filter_warning_logs}</div>
						
					<div class="ps-3 pe-3">
					
					{$lang->filter_warned_user}
							<input type="text" name="filter[username]" id="username" value="{$filter_username}" class="form-control border" />
						
						<div class="mt-3"></div>
						{$lang->filter_issued_by}
						<input type="text" name="filter[mod_username]" value="{$filter_modusername}" class="form-control border" /></td>
						<div class="mt-3"></div>
							{$lang->filter_reason}
							<input type="text" name="filter[reason]" value="{$filter_reason}" class="form-control border" /></td>
						 <div class="mt-3"></div>
						{$lang->sort_by}
						<div class="row">
							<div class="col align-self-center">
								<select name="filter[sortby]" class="form-select border">
									<option value="username"{$sortbysel['username']}>{$lang->username}</option>
									<option value="issuedby"{$sortbysel['issuedby']}>{$lang->issued_by}</option>
									<option value="dateline"{$sortbysel['dateline']}>{$lang->issued_date}</option>
									<option value="expires"{$sortbysel['expires']}>{$lang->expiry_date}</option>
								</select>
							</div>
							<div class="col-auto align-self-center">
								{$lang->in}
							</div>
							<div class="col align-self-center">
								<select name="filter[order]" class="form-select border">
									<option value="asc"{$ordersel['asc']}>{$lang->asc}</option>
									<option value="desc"{$ordersel['desc']}>{$lang->desc}</option>
								</select>
							</div>
							<div class="col-auto align-self-center">
								{$lang->order}
							</div>
				</div>
							<div class="mt-3"></div>
							{$lang->per_page}
							<input type="text" name="filter[per_page]" value="{$per_page}" class="form-control border" /></td>
						<div class="mt-3 text-end">
						<input type="submit" class="btn btn-primary" value="{$lang->filter_warning_logs}" />
					</div>
		</div>
				</form>
	
	</div></div>
	{$multipage}
</div></div>
</div>
	{$footer}
<link rel="stylesheet" href="{$mybb->asset_url}/jscripts/select2/select2.css?ver=1807">
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/select2/select2.min.js?ver=1806"></script>
<script type="text/javascript">
<!--
if(use_xmlhttprequest == "1")
{
	MyBB.select2();
	$("#username").select2({
		placeholder: "{$lang->search_user}",
		minimumInputLength: 2,
		multiple: false,
		allowClear: true,
		ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
			url: "xmlhttp.php?action=get_users",
			dataType: 'json',
			data: function (term, page) {
				return {
					query: term, // search term
				};
			},
			results: function (data, page) { // parse the results into the format expected by Select2.
				// since we are using custom formatting functions we do not need to alter remote JSON data
				return {results: data};
			}
		},
		initSelection: function(element, callback) {
			var value = $(element).val();
			if (value !== "") {
				callback({
					id: value,
					text: value
				});
			}
		},
	});
}
// -->
</script>
</body>
</html>