<script type="text/javascript">
<!--
	var sig_checked = "{$checked}";

	function toggleAction()
	{
		if($("#suspend_action").is(":visible") == true)
		{
			$("#suspend_action").hide();
		}
		else
		{
			$("#suspend_action").show();
		}
	}
// -->
</script>
<input type="checkbox" name="suspendsignature" value="1" class="form-check-input" {$checked_item} onclick="toggleAction();" /> {$lang->suspend_signature}

<div class="mt-2" id="suspend_action">
{$suspendsignature_info}
	
{$lang->suspend_length}	
<div class="row">
					<div class="col align-self-center">
<input type="text" name="action_time" value="{$action_time}" class="form-control border w-100" />
					</div>
					<div class="col align-self-center">
						{$action_options}
					</div>
				</div>
</div>
<script type="text/javascript">
<!--
	if(sig_checked == 0)
	{
		$("#suspend_action").hide();
	}
// -->
</script>