<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->attachments_awaiting_moderation}</title>
{$headerinclude}
</head>
<body>
{$header}
		<div class="container-md">
		
		<div class="row">
			
			<div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">

{$modcp_nav}
			</div>
			<div class="col">
				<!-- offcanvas -->
				<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
				<button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="bi bi-list"></i> &nbsp;{$lang->nav_menu}
</button>
				
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header catmod">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{$lang->nav_menu}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body catmod">
    <div>
     {$modcp_nav}
    </div>
  </div>
</div>
				</div>
				<!-- /offcanvas -->


<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
<form action="modcp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_modqueue" />

	
	<div class="legend mb-4">{$lang->attachments_awaiting_moderation}</div>

			<div class="text-end p-3">{$thread_link} <i class="bi bi-arrow-right-short"></i> {$post_link} <i class="bi bi-arrow-right-short"></i> {$lang->attachments}</div>
	
		{$attachments}
		

{$mass_controls}

<div class="p-3 text-end"><input type="submit" class="btn btn-primary" name="reportsubmit" value="{$lang->perform_actions}" /></div>

</form>
	</div></div>
	{$multipage}
	</div></div>
</div>
{$footer}
</body>
</html>