<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->modlogs}</title>
{$headerinclude}
</head>
<body>
	{$header}
		<div class="container-md">
		
		<div class="row">
			
			<div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">

{$modcp_nav}
			</div>
			<div class="col">
				<!-- offcanvas -->
				<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
				<button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="bi bi-list"></i> &nbsp;{$lang->nav_menu}
</button>
				
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header catmod">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{$lang->nav_menu}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body catmod">
    <div>
     {$modcp_nav}
    </div>
  </div>
</div>
				</div>
				<!-- /offcanvas -->


<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	<div class="legend mb-4">{$lang->modlogs}</div>
				
					{$results}
					
				
				<form action="modcp.php?action=modlogs" method="post">
					<div class="legend mt-4 mb-4">{$lang->filter_modlogs}</div>
					
					<div class="ps-3 pe-3">	{$lang->forum}
							
						{$forum_select}</div>
					<div class="mt-3"></div>
					
					<div class="ps-3 pe-3">
					{$lang->from_moderator}
								<select name="uid" class="form-select border">
									<option value="">{$lang->all_moderators}</option>
									<option value="">----------</option>
									{$user_options}
								</select>
					</div>
							
					<div class="mt-3"></div>
					<div class="ps-3 pe-3">{$lang->sort_by}</div>
					<div class="row ps-3 pe-3">
						<div class="col align-self-center">
					<select name="sortby" class="form-select border">
									<option value="dateline"{$sortbysel['dateline']}>{$lang->date}</option>
									<option value="username"{$sortbysel['username']}>{$lang->username}</option>
									<option value="forum"{$sortbysel['forum']}>{$lang->forum_name}</option>
									<option value="thread"{$sortbysel['thread']}>{$lang->thread_subject}</option>
								</select>
						</div>
						<div class="col-auto align-self-center">
								{$lang->in}
						</div>
						<div class="col align-self-center">
								<select name="order" class="form-select border">
									<option value="asc"{$ordersel['asc']}>{$lang->asc}</option>
									<option value="desc"{$ordersel['desc']}>{$lang->desc}</option>
								</select>
						</div>
						<div class="col-auto align-self-center">
								{$lang->order}
						</div>
					</div>
						
					<div class="mt-3 ps-3 pe-3">
							{$lang->per_page}
							<input type="text" name="perpage" value="{$perpage}" size="4" class="form-control border" /></td>
					</div>
	
					<div class="mt-3 text-end ps-3 pe-3">
						<input type="submit" class="btn btn-primary" value="{$lang->filter_logs}" />
					</div>
				</form>
			
	</div></div>
	{$resultspages}
	</div></div>

</div>
{$footer}
</body>
</html>