<html>

<head>
  <title>{$lang->viewing_pm} {$pm['subject']}</title>
  {$headerinclude}
</head>

<body>
  {$header}
  <div id="nav_width" style="width:24%;float:left;">{$usercpnav}</div>
  <div id="content_width" style="width:74%;float:right;">
    <td style="vertical-align: top;">
      <table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder tfixed clear no_bottom_border">
        <tr>
          <td class="thead">
            <strong>{$pm['subject']}</strong>
          </td>
        </tr>
        {$action_time}
        <tr>
          <td id="posts_container">
            <div id="posts">
              {$message}
            </div>
          </td>
        </tr>
      </table>
      {$quickreply}
    </td>
  </div>
  {$footer}
  <script type="text/javascript">
    $(".author_avatar img").error(function() {
      $(this).unbind("error").closest('.author_avatar').remove();
    });
  </script>
</body>

</html>