<html>
<head>
<title>{$lang->compose_pm}</title>
{$headerinclude}
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/usercp.js?ver=1808"></script>
</head>
<body>
{$header}
<div class="flex-container">
<form action="private.php" method="post" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div id="nav_width" style="width:24%;float:left;">{$usercpnav}</div>
<div id="content_width" style="width:74%;float:right;">
<td valign="top">
{$preview}
{$send_errors}
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder newreply">
<tr>
<td class="thead" colspan="2"><strong>{$lang->compose_pm}</strong></td>
</tr>
<tr>
<td class="trow1 hide_mobile" valign="top" width="200"><strong>{$lang->compose_to}</strong>
	<script type="text/javascript">
	<!--
		document.write('(<a href="javascript:void(0)" onclick="showBcc(); return false;" title="{$lang->compose_bcc_show_title}">{$lang->compose_bcc_show}<\/a>)');
	// -->
	</script>
	<br /><span class="smalltext">{$lang->separate_names}{$buddy_select_to}</span></td>
<td class="trow1" valign="top"><textarea name="to" id="to" rows="2" cols="38" tabindex="1">{$to}</textarea>{$max_recipients}</td>
</tr>
<tr id="bcc_area">
<td class="trow2 hide_mobile" valign="top"><strong>{$lang->compose_bcc}</strong>{$buddy_select_bcc}</td>
<td class="trow2"><textarea name="bcc" id="bcc" rows="2" cols="38" tabindex="1">{$bcc}</textarea></td>
</tr>
<tr>
<td class="trow1 hide_mobile"><strong>{$lang->compose_subject}</strong></td>
<td class="trow1"><input type="text" class="textbox2" name="subject" placeholder="Temat" maxlength="85" value="{$subject}" tabindex="3" /></td>
</tr>
{$posticons}
<tr>
<td class="trow2 hide_mobile" valign="top"><strong>{$lang->compose_message}</strong>{$smilieinserter}</td>
<td class="trow2"><div class="post_inside">
<textarea name="message" id="message" style="width:92%" rows="20" tabindex="4">{$message}</textarea></div>
{$codebuttons}
</td>
</tr>
<tr>
<td class="trow1 hide_mobile" valign="top"><strong>{$lang->compose_options}</strong></td>
<td class="trow1"><span class="smalltext">
<label><input type="checkbox" class="checkbox" name="options[signature]" value="1" tabindex="5" {$optionschecked['signature']} />{$lang->options_sig}</label><br />
<label><input type="checkbox" class="checkbox" name="options[disablesmilies]" value="1" tabindex="6" {$optionschecked['disablesmilies']} />{$lang->options_disable_smilies}</label><br />
<label><input type="checkbox" class="checkbox" name="options[savecopy]" value="1" tabindex="7" {$optionschecked['savecopy']} />{$lang->options_save_copy}</label>
{$private_send_tracking}
</span></td>
</tr>
</table>
<br />
<input type="hidden" name="action" value="do_send" />
<input type="hidden" name="pmid" value="{$pmid}" />
<input type="hidden" name="do" value="{$do}" />
<div style="text-align: center;">
<input type="submit" class="button" name="submit" value="{$lang->send_message}" tabindex="9" accesskey="s" />
<input type="submit" class="button" name="saveasdraft" value="{$lang->save_draft}" tabindex="10" />
<input type="submit" class="button" name="preview" value="{$lang->preview}" tabindex="11" />
</div>
</td>
	</div></div>
</form>
{$footer}
<script type="text/javascript">
<!--
	if($("#bcc_area").length > 0 && $("#bcc").val() == "")
	{
		$("#bcc_area").css("display", "none");
	}

	function showBcc()
	{
		if($("#bcc_area").css("display") == 'none')
		{
			$("#bcc_area").css("display", "");
		}
		else
		{
			$("#bcc_area").css("display", "none");
		}
	}
// -->
</script>
{$autocompletejs}
<script type="text/javascript">
	$(".author_avatar img").error(function () {
		$(this).unbind("error").closest('.author_avatar').remove();
	});
</script>
</body>
</html>