<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->resend_activation}</title>
{$headerinclude}
</head>
<body>
{$header}
	<div class="container-md">
{$errors}
<form action="member.php" method="post">
<div class="card shadow-sm border-0 align-center">
<div class="card-body p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 border-0 text-start">
	
	<div class="legend mb-4">{$lang->resend_activation}</div>
	
		<div class="mb-3 ps-3 pe-3">
                 <label for="email" class="form-label">{$lang->email_address}</label>
                <input type="text" class="form-control border" name="email" value="{$email}" />
	</div>

{$captcha}
</table>

<div class="ps-3 text-start"><input type="submit" class="btn btn-primary mt-2" style="padding-left 40px; padding-right: 40px" name="submit" value="{$lang->request_activation}" /></div>
<input type="hidden" name="action" value="do_resendactivation" />
</form>
	</div>
	</div>
	</div>
{$footer}
</body>
</html>