<div class="row mt-4">
	<div class="col text-muted">
		
		<script type="text/javascript">
<!--
	lang.question_fetch_failure = "{$lang->question_fetch_failure}";
// -->
</script>
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/question.js?ver=1821"></script>
		
		{$lang->question_note}
		
	</div>
</div>

<div class="row mt-2">
	<div class="col">
	<div class="form-group">
		<label for ="answer">{$question['question']}</label>
		<input type="text" class="form-control border border" name="answer" value="" id="answer" style="width: 100%;" />
	<input type="hidden" name="question_id" value="{$sid}" id="question_id" />
		<div class="mt-1">{$refresh}</div>
		</div>
	</div>
	</div>
	
	<div class="row">
		<div class="col" id="answer_status" style="display: none;">
			&nbsp;
		</div>
	</div>