<tr>
	<td class="{$alt_bg}" align="center">{$user['avatar']}</td>
	<td class="{$alt_bg}">{$user['profilelink']}<br />
<span class="smalltext">
	<span class="hide_mobile">{$user['usertitle']}</span><br />
	<span class="hide_mobile">{$user['AccountType']}</span><br />
	{$usergroup['groupimage']}
</span></td>
	<td class="{$alt_bg} hide_mobile" align="center">{$user['regdate']}</td>
	<td class="{$alt_bg} hide_mobile" align="center">{$user['lastvisit']}</td>
	<td class="{$alt_bg} hide_mobile" align="center">{$user['postnum']}</td>
	<td class="{$alt_bg} hide_mobile" align="center">{$user['threadnum']}</td>
	<td class="{$alt_bg} hide_mobile" align="center">{$user['linkedAccounts']}</td>
</tr>