<html>
<head>
<title>{$mybb->settings['bbname']}</title>
{$headerinclude}
<script type="text/javascript">
<!--
	lang.no_new_posts = "{$lang->no_new_posts}";
	lang.click_mark_read = "{$lang->click_mark_read}";
// -->
</script>
</head>
<body>
{$header}
	

	
	<div class="container-md">
		
		
		{$forums}
		
		
	
		
		<div class="card body bg-white shadow-sm mt-3 border-0">
<div class="card-body border-0 p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 rounded" style="width: 100%;">
	
	{$whosonline}{$boardstats}

		
			</div>
		</div>
				
			
		</div>
	


<br class="clear" />
{$footer}
</body>
</html>