<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="rounded row m-0 mt-4" style="font-size: 15px">
{$lang->stats_posts_threads}
{$lang->stats_numusers}
	{$lang->stats_newestuser}
</div>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none d-grid">
	<div class="p-4 rounded row m-0">
{$lang->stats_posts_threads}
		<div class="w-100"></div>
{$lang->stats_numusers}
		{$lang->stats_newestuser}
</div>
<div class="row rounded border-0 p-3 m-0">
	<div class="col-12 text-center">
		<a href="online.php" class="btn btn-multipage">{$lang->complete_list} <i class="bi bi-chevron-right"></i></a>
	</div>
	<div class="col-12 text-center">
		{$statspage}
	</div>
	</div>
</div>