<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-2 p-xl-2 p-xxl-2 mt-0 rounded">
	<div class="legend mt-2">{$lang->forum_stats}</div>
<div class="p-3">
<strong><i class="bi bi-people"></i> &nbsp;</strong><span class="text-muted">{$lang->num_members}</span> {$stats['numusers']}
<br />
<strong><i class="bi bi-person-plus-fill"></i> &nbsp;</strong><span class="text-muted">{$lang->latest_member}</span> {$newestmember}
<br />
<strong><i class="bi bi-chat-dots"></i> &nbsp;</strong><span class="text-muted">{$lang->num_threads}</span> {$stats['numthreads']}
<br />
<strong><i class="bi bi-chat"></i> &nbsp;</strong><span class="text-muted">{$lang->num_posts}</span> {$stats['numposts']}
<br /><br /><a href="{$mybb->settings['bburl']}/stats.php" class="btn btn-multipage">{$lang->full_stats}</a>
</div>
</div>
</div>