<div class="p-3">
	{$lang->member_welcome_lastvisit} <span class="text-muted">{$lastvisit}</span>
	<br /><br />

<strong>&raquo;</strong> <span class="text-muted">{$lang->new_announcements}</span><br />
<strong>&raquo;</strong> <span class="text-muted">{$lang->new_threads}</span><br />
<strong>&raquo;</strong> <span class="text-muted">{$lang->new_posts}</span><br /><br />
<a href="{$mybb->settings['bburl']}/search.php?action=getnew" class="btn btn-multipage">{$lang->view_new}</a><br /><a href="{$mybb->settings['bburl']}/search.php?action=getdaily" class="btn btn-multipage">{$lang->view_todays}</a>
</span>
</div>