<html>
<head>
	<title>{$mybb->settings['bbname']} - {$lang->calendar}</title>
	{$headerinclude}
</head>
<body>
	{$header}
	<div class="container-md">
	<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	<div class="legend mb-4">
<div class="row">
<div class="col-auto align-self-center">
{$prev_month_link} {$monthnames[$month]} {$year} {$next_month_link}	
</div>
<div class="col align-self-center text-end">
{$addevent}
</div>
</div>
</div>
		
		<div class="row catmod border-0 rounded p-3 m-0 text-center">	
			<div class="col-auto align-self-center">
				&nbsp;
			</div>
			{$weekday_headers}</div>
			
			
			<div class="row m-0 mt-4 border-start border-top rounded strong">
				{$calendar_rows}
	</div>
		
		

<form action="calendar.php" method="post">
	
						<div class="row mt-4">
<div class="col align-self-center">
&nbsp;
</div>
<div class="col-auto align-self-center">
<div class="row">
<div class="col align-self-center">
<select name="month" class="form-select border">
<option value="{$month}">{$monthnames[$month]}</option>
<option value="{$month}">----------</option>
<option value="1">{$lang->alt_month_1}</option>
<option value="2">{$lang->alt_month_2}</option>
<option value="3">{$lang->alt_month_3}</option>
<option value="4">{$lang->alt_month_4}</option>
<option value="5">{$lang->alt_month_5}</option>
<option value="6">{$lang->alt_month_6}</option>
<option value="7">{$lang->alt_month_7}</option>
<option value="8">{$lang->alt_month_8}</option>
<option value="9">{$lang->alt_month_9}</option>
<option value="10">{$lang->alt_month_10}</option>
<option value="11">{$lang->alt_month_11}</option>
<option value="12">{$lang->alt_month_12}</option>
</select>
</div>
<div class="col align-self-center">
<select name="year" class="form-select border">
<option value="{$year}">{$year}</option>
<option value="{$year}">----------</option>
{$yearsel}
</select>
</div>
<div class="col-auto align-self-center text-end">
{$gobutton}
</div>
</div>
</div>
</div>
						<br />
						{$calendar_jump}
						</td>
					</tr>
				</table>
			</td>
		</tr>
		</table>
	</form>
		</div></div></div>
{$footer}
</body>
</html>