<!-- Navigation -->
<nav class="sticky_nav useroptions">

  <div>

    <div class="nav-item">

      <a href="{$mybb->settings['bburl']}" title="Radiant Cities"><i class="cp cp-menu"></i> Radiant Cities</a>
      <div class="dd_menu">
        <div class="items">
          <div class="social">
            <a href="" title="Tumblr"><i class="cp cp-tumblr social_icon"></i></a>
            <a href="" title="Discord"><i class="cp cp-discord social_icon"></i></a>
            <a href="" title="Kody"><i class="cp cp-code social_icon"></i></a>
          </div>
          <hr class="green">
          <a href="">Regulamin</a>
          <a href="{$mybb->settings['bburl']}/showteam.php">Administracja</a>
          <a href="">Współpraca</a>
        </div>

      </div>
    </div>

    <!-- If on the dark theme --><a title="Jasny wygląd"><i class="cp cp-sun"></i></a>
    <!-- If on the light theme <i class="cp cp-moon"></i> -->

    <div class="nav-item">
      <a href="{$mybb->settings['bburl']}/search.php" title="Szukaj"><i class="cp cp-search"></i></a>
      <if $mybb->user['uid'] != 0 then>
        <div class="dd_menu">
          <div class="items">
            <a href="{$mybb->settings['bburl']}/search.php?action=unread">Nieprzeczytane Posty</a>
            <a href="{$mybb->settings['bburl']}/search.php?action=getnew">Nowe Posty</a>
            <a href="search.php?action=finduserthreads&amp;uid={$mybb->user['uid']}">Twoje Tematy</a>
            <a href="search.php?action=finduser&amp;uid={$mybb->user['uid']}">Twoje Posty</a>
          </div>
        </div>
      </if>
    </div>

    <a href="{$mybb->settings['bburl']}/calendar.php" title="Kalendarz"><i class="cp cp-calendar"></i></a>

  </div>

  <div class="member">

    <div>

      <div class="nav-item"><a title="Drogowskaz">Drogowskaz</a>
        <div class="dd_menu">
          <div class="items">
            <a href="{$mybb->settings['bburl']}/misc.php?action=help">FAQ</a>
            <a href="{$mybb->settings['bburl']}/showteam.php">Administracja</a>
          </div>
        </div>
      </div>

      <div class="nav-item">
        <a href="{$mybb->settings['bburl']}/memberlist.php" title="Gracze">Gracze</a>
        <if $mybb->user['uid'] != 0 then>
          <div class="dd_menu">
            <div class="items">
              <a href="{$mybb->settings['bburl']}/memberlist.php?order=postnum">Najaktywniejsi</a>
              <a href="{$mybb->settings['bburl']}/memberlist.php?order=joindate">Najnowsi</a>
            </div>
          </div>
        </if>
      </div>
    </div>

    {$welcomeblock}
  </div>

</nav>

<!-- Mobile navigation-->
<nav class="mobile_nav">
  <div>

    <div class="nav-item">

      <a title="Menu"><i class="cp cp-menu"></i></a>
      <div class="dd_menu">
        <div class="items">
          <div class="social">
            <a href="" title="Tumblr"><i class="cp cp-tumblr social_icon"></i></a>
            <a href="" title="Discord"><i class="cp cp-discord social_icon"></i></a>
            <a href="" title="Kody"><i class="cp cp-code social_icon"></i></a>
          </div>
          <hr class="green">
          <a href="">Regulamin</a>
          <a href="{$mybb->settings['bburl']}/showteam.php">Administracja</a>
          <a href="">Współpraca</a>
        </div>

      </div>
    </div>

    <!-- If on the dark theme --><a title="Jasny wygląd"><i class="cp cp-sun"></i></a>
    <!-- If on the light theme <i class="cp cp-moon"></i> -->

    <div class="nav-item">
      <a href="{$mybb->settings['bburl']}/search.php" title="Szukaj"><i class="cp cp-search"></i></a>
    </div>

    <a href="{$mybb->settings['bburl']}/calendar.php" title="Kalndarz"><i class="cp cp-calendar"></i></a>

  </div>

  <div class="member">

    <div>

      <div class="nav-item"><a title="Drogowskaz"><i class="cp cp-map"></i></a>
        <div class="dd_menu">
          <div class="items">
            <a href="{$mybb->settings['bburl']}/misc.php?action=help">FAQ</a>
            <a href="{$mybb->settings['bburl']}/showteam.php">Administracja</a>
          </div>
        </div>
      </div>

      <div class="nav-item">
        <a href="{$mybb->settings['bburl']}/memberlist.php" title="Gracze"><i class="cp cp-dinosaur"></i></a>
      </div>
    </div>

    {$welcomeblock}
  </div>
</nav>

<!-- Header -->
<div style="width:100%; height:100px;"></div>
<div class="header">
  <div class="text"><a href="{$mybb->settings['bburl']}/index.php">
      tu coś będzie
      <div class="forum_title">
        Radiant Cities
      </div>
      &mdash; RPG &mdash;
    </a></div>
</div>

<!-- Notices -->
<div id="container">
  <a name="top" id="top"></a>
  <div id="header">
    <div id="content">
      <div class="wrapper">
        {$pm_notice}
        {$bannedwarning}
        {$bbclosedwarning}
        {$unreadreports}
        {$pending_joinrequests}
        {$awaitingusers}

        <div class="container">
          <navigation>
        </div>
        <br />