<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->edit_poll}</title>
{$headerinclude}
</head>
<body>
{$header}
	
	<div class="container-md">
<form action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	
	<div class="card shadow-sm border-0 mt-3" style="font-weight: 400">
	<div class="card-body p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 border-0 mt-1" style="border-top: 0px">
					
					<div class="legend mb-4">{$lang->delete_poll}</div>
					
					<div class="row p-3">
						<div class="col align-self-center">
							
							<input type="checkbox" class="form-check-input" name="delete" value="1" tabindex="9" />&nbsp; <strong>{$lang->delete_q}</strong>
							
						</div>
						<div class="col text-center align-self-center d-none do-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
		{$lang->delete_note}<br /><span class="smalltext text-muted"><strong>{$lang->delete_note2}</strong></span>
		</div>
						<div class="col align-self-center text-end">
							
							<input type="submit" class="btn btn-primary" name="submit" value="{$lang->delete_poll}" tabindex="10" />
							</div>
						</div>
		<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
		<div class="p-3 text-center">{$lang->delete_note}<br /><span class="smalltext text-muted"><strong>{$lang->delete_note2}</strong></span></div>
		</div>
					
					<input type="hidden" name="action" value="do_deletepoll" />
<input type="hidden" name="tid" value="{$tid}" />
		</form>
		</div>
	</div>
						
	<form action="polls.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
					
						
<div class="card shadow-sm border-0 mt-3" style="font-weight: 400">
	<div class="card-body p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 border-0 mt-1" style="border-top: 0px">	
		
		<div class="legend mb-4">{$lang->edit_poll}</div>

		<div class="p-3">{$loginbox}</div>
					
		<div class="legend mt-4 mb-4">{$lang->question}</div>
							
						
						<div class="p-3">	
							<input type="text" class="form-control border border" name="question" maxlength="240" value="{$question}" />
		</div>	
						
					
					
		<div class="legend mt-4 mb-4">{$lang->num_options}</div>
							
						<div class="p-3">
							
							{$lang->max_options} {$mybb->settings['maxpolloptions']}
							
							<div class="row">
								<div class="col">
							<input type="text" class="form-control border" name="numoptions" size="10" value="{$numoptions}" />
								</div>
								<div class="col-auto text-end">
							<input type="submit" class="btn btn-primary" name="updateoptions" value="{$lang->update_options}" />
							
						</div>
					</div>
	</div>

		<div class="legend mt-4 mb-4">{$lang->poll_options}</div>
		
								<div class="p-3">
									
									<div class="text-muted mb-4">{$lang->poll_options_note}</div>
									{$optionbits}
							
					</div>
					
		<div class="legend mt-4 mb-4">{$lang->options}</div>
							
						
						<div class="p-3">
							
							
<label><input type="checkbox" class="form-check-input" name="postoptions[multiple]" value="1" {$postoptionschecked['multiple']} />&nbsp;{$lang->option_multiple}</label><div class="mt-2"></div>
<span id="maxOptions" style="display: none"><strong>{$lang->option_multiple_maxoptions}</strong> <input type="text" style="width: 100px" class="form-control border border" name="maxoptions" value="0" /><br /></span>
<script type="text/javascript">
//<!--
	if($("input[name='postoptions[multiple]']").is(":checked")) {
		$("#maxOptions").css("display", "");
	}

 	$("input[name='postoptions[multiple]']").on('click', function() {
 		if($(this).is(":checked")) {
 	    	$("#maxOptions").css("display", "");
		} else {
 	    	$("#maxOptions").css("display", "none");
 	   	}
    });
// -->
</script>
<label><input type="checkbox" class="form-check-input" name="postoptions[public]" value="1" {$postoptionschecked['public']} />&nbsp;{$lang->option_public}</label>
								<div class="mt-2"></div>
<label><input type="checkbox" class="form-check-input" name="postoptions[closed]" value="1" {$postoptionschecked['closed']} />&nbsp;{$lang->option_closed}</label>
</span>
							
						
					</div>

		<div class="legend mt-4 mb-4">{$lang->poll_timeout}</div>
							
			<div class="p-3">			
		<div class="text-muted mb-4">{$lang->timeout_note}</div>
							<input type="text" class="form-control border border" style="width: 150px" name="timeout" value="{$timeout}" /> {$lang->days_after} {$polldate}
							
						
					</div>

	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="mt-3 text-end">
<input type="submit" class="btn btn-reply" name="submit" value="{$lang->update_poll}" />
		</div></div>
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
					<div class="mt-3 text-end">
						<input type="submit" class="btn btn-reply" style="width: 100%"  name="submit" value="{$lang->update_poll}" />
		</div></div>
	
					</div></div></div>
<input type="hidden" name="action" value="do_editpoll" />
<input type="hidden" name="pid" value="{$pid}" />
</form>
{$footer}
</body>
</html>