<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->board_stats}</title>
{$headerinclude}
</head>
<body>
{$header}
	<div class="container">

<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	
	<div class="legend mb-4">{$lang->board_stats}</div>
        
<div class="row">
<div class="col align-self-center text-center">
{$lang->posts} <span class="text-muted">{$stats['numposts']}</span>
</div>
<div class="col align-self-center text-center">
{$lang->threads} <span class="text-muted">{$stats['numthreads']}</span>
</div>
<div class="col align-self-center text-center">
{$lang->members} <span class="text-muted">{$stats['numusers']}</span>
</div>
</div>
               <div class="legend mt-4 mb-4">
				   {$lang->general}</div>
                
                <div class="row">
<div class="col align-self-center text-center">
{$lang->newest_member} {$stats['newest_user']}
</div>
<div class="col align-self-center text-center">
{$lang->members_posted} {$havepostedpercent}
</div>
<div class="col align-self-center text-center">
{$lang->todays_top_poster}
</div>
<div class="col align-self-center text-center">
{$lang->popular_forum}
</div>
{$top_referrer}
</div>
	
        <div class="legend mt-4 mb-4">
			{$lang->most_popular}</div>
          
        <div class="row p-3">
            <div class="col">
                {$lang->most_replied_threads}
                <div class="mt-2">
					{$mostreplies}</div>
            </div>
            <div class="col">
                {$lang->most_viewed_threads}
				<div class="mt-2">{$mostviews}</div>
            </div>
        </div>
    </div>
</div>
	
{$footer}
</body>
</html>