<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->member_list}</title>
{$headerinclude}
</head>
<body>
{$header}

	<div class="container-md">
		{$multipage}
	<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
<div class="legend mb-4">
	{$lang->member_list}
	</div>
	<div class="text-center">
		<a href="memberlist.php?username_match=begins&amp;username={$lang->a}" class="btn btn-multipage">{$lang->a}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->b}" class="btn btn-multipage">{$lang->b}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->c}" class="btn btn-multipage">{$lang->c}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->d}" class="btn btn-multipage">{$lang->d}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->e}" class="btn btn-multipage">{$lang->e}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->f}" class="btn btn-multipage">{$lang->f}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->g}" class="btn btn-multipage">{$lang->g}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->h}" class="btn btn-multipage">{$lang->h}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->i}" class="btn btn-multipage">{$lang->i}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->j}" class="btn btn-multipage">{$lang->j}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->k}" class="btn btn-multipage">{$lang->k}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->l}" class="btn btn-multipage">{$lang->l}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->m}" class="btn btn-multipage">{$lang->m}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->n}" class="btn btn-multipage">{$lang->n}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->o}" class="btn btn-multipage">{$lang->o}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->p}" class="btn btn-multipage">{$lang->p}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->q}" class="btn btn-multipage">{$lang->q}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->r}" class="btn btn-multipage">{$lang->r}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->s}" class="btn btn-multipage">{$lang->s}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->t}" class="btn btn-multipage">{$lang->t}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->u}" class="btn btn-multipage">{$lang->u}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->v}" class="btn btn-multipage">{$lang->v}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->w}" class="btn btn-multipage">{$lang->w}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->x}" class="btn btn-multipage">{$lang->x}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->y}" class="btn btn-multipage">{$lang->y}</a>
		<a href="memberlist.php?username_match=begins&amp;username={$lang->z}" class="btn btn-multipage">{$lang->z}</a>
	</div>
	

	
	<div class="mb-4 mt-4">{$users}</div>

	<div class="legend mb-4">
<div class="row">
<div class="col-auto align-self-center">
{$lang->search_members}
</div>
<div class="col align-self-center text-end">
<a href="memberlist.php?action=search" class="btn btn-multipage">{$lang->advanced_search}</a>
</div>
</div>
</div>

<form method="post" action="memberlist.php">

	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
		<div class="p-3">
	<div class="row">
<div class="col align-self-center">
<label>{$lang->username}</label>
		<input type="text" class="form-control border border" name="username" id="username" style="width: 99%; margin-top: 4px;" value="{$search_username}" />
</div>
<div class="col align-self-center">
<label>{$lang->website}</label>
		<input type="text" class="form-control border border" name="website" id="website" style="width: 99%; margin-top: 4px;" value="{$search_website}" />
</div>
<div class="col align-self-center">
	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="order" id="order_asc" value="ascending"{$order_check['ascending']} />
  <label class="form-check-label" for="inlineRadio1">{$lang->order_asc}</label>
</div>
	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="order" id="order_desc" value="descending"{$order_check['descending']} /> 
  <label class="form-check-label" for="inlineRadio1">{$lang->order_desc}</label>
</div>

		
		<select name="sort" id="sort" class="form-select border">
			<option value="username"{$sort_selected['username']}>{$lang->sort_by_username}</option>
			<option value="regdate"{$sort_selected['regdate']}>{$lang->sort_by_regdate}</option>
			<option value="lastvisit"{$sort_selected['lastvisit']}>{$lang->sort_by_lastvisit}</option>
			<option value="postnum"{$sort_selected['postnum']}>{$lang->sort_by_posts}</option>
			<option value="threadnum"{$sort_selected['threadnum']}>{$lang->sort_by_threads}</option>
			{$referrals_option}
		</select>
		</div>
</div>
	</div>


<div class="text-end mt-3 p-0"><input type="submit" class="btn btn-primary" name="submit" value="{$lang->search}" /></div>
	</div>
	
	
	
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="p-3">
	<label>{$lang->username}</label>
		<input type="text" class="form-control border border" name="username" id="username" style="width: 99%; margin-top: 4px;" value="{$search_username}" />
		
		<div class="mt-3"></div>
		
		<label>{$lang->website}</label>
		<input type="text" class="form-control border border" name="website" id="website" style="width: 99%; margin-top: 4px;" value="{$search_website}" />
		
		<div class="mt-3"></div>
		
		<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="order" id="order_asc" value="ascending"{$order_check['ascending']} />
  <label class="form-check-label" for="inlineRadio1">{$lang->order_asc}</label>
</div>
	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="order" id="order_desc" value="descending"{$order_check['descending']} /> 
  <label class="form-check-label" for="inlineRadio1">{$lang->order_desc}</label>
</div>

		
		<select name="sort" id="sort" class="form-select border">
			<option value="username"{$sort_selected['username']}>{$lang->sort_by_username}</option>
			<option value="regdate"{$sort_selected['regdate']}>{$lang->sort_by_regdate}</option>
			<option value="lastvisit"{$sort_selected['lastvisit']}>{$lang->sort_by_lastvisit}</option>
			<option value="postnum"{$sort_selected['postnum']}>{$lang->sort_by_posts}</option>
			<option value="threadnum"{$sort_selected['threadnum']}>{$lang->sort_by_threads}</option>
			{$referrals_option}
		</select>
		
		<div class="mt-3 p-0"><input type="submit" class="btn btn-primary" style="width: 100%" name="submit" value="{$lang->search}" /></div>
		</div>
	</div>
	
	</form>
	</div></div></div>

{$footer}
<link rel="stylesheet" href="{$mybb->asset_url}/jscripts/select2/select2.css?ver=1807">
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/select2/select2.min.js?ver=1806"></script>
<script type="text/javascript">
<!--
if(use_xmlhttprequest == "1")
{
	MyBB.select2();
	$("#username").select2({
		placeholder: "{$lang->search_user}",
		minimumInputLength: 2,
		multiple: false,
		allowClear: true,
		ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
			url: "xmlhttp.php?action=get_users",
			dataType: 'json',
			data: function (term, page) {
				return {
					query: term, // search term
				};
			},
			results: function (data, page) { // parse the results into the format expected by Select2.
				// since we are using custom formatting functions we do not need to alter remote JSON data
				return {results: data};
			}
		},
		initSelection: function(element, callback) {
			var value = $(element).val();
			if (value !== "") {
				callback({
					id: value,
					text: value
				});
			}
		},
       // Allow the user entered text to be selected as well
       createSearchChoice:function(term, data) {
			if ( $(data).filter( function() {
				return this.text.localeCompare(term)===0;
			}).length===0) {
				return {id:term, text:term};
			}
		},
	});

  	$('[for=username]').on('click', function(){
		$("#username").select2('open');
		return false;
	});
}
// -->
</script>
</body>
</html>