<div class="modal bg-white p-5 border-0 shadow-sm rounded">
	<div style="max-height: 500px;">
<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
<tr>
<td class="thead" colspan="2"><strong>{$lang->get_post_ip}</strong></td>
</tr>
<tr>
<td class="trow1" width="20%"><strong>{$lang->username}</strong></td>
<td class="trow1">{$username}</td>
</tr>
<tr>
<td class="trow2"><strong>{$lang->ip_address}</strong></td>
<td class="trow2">{$post['ipaddress']}</td>
</tr>
<tr>
<td class="trow1"><strong>{$lang->hostname}<br /><span class="smalltext">{$lang->if_resolvable}</span></strong></td>
<td class="trow2">{$hostname}</td>
</tr>
{$modoptions}
</table>
</div>
</div>