<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->move_threads}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div class="container-md">
<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	<div class="legend mb-4">{$lang->move_threads}</div>
<div class="ps-3 pe-3">{$loginbox}</div>

<div class="ps-3 pe-3 mt-3 mb-3">{$lang->new_forum}
	{$forumselect}</div>
<div class="ps-3 pe-3 mb-3">{$lang->method}<br />

<label><input type="radio" class="form-check-input" name="method" value="move" /> {$lang->method_move}</label><br />
<label><input type="radio" class="form-check-input" name="method" value="redirect" checked="checked" /> {$lang->method_move_redirect}</label> <input type="text" class="form-control border mt-2 mb-1" name="redirect_expire" size="3" /> {$lang->redirect_expire_note}<br />
<label><input type="radio" class="form-check-input" name="method" value="copy" /> {$lang->method_copy}</label>

<div class="mt-3 text-end"><input type="submit" class="btn btn-primary" name="submit" value="{$lang->move_threads}" /></div>
<input type="hidden" name="action" value="do_multimovethreads" />
<input type="hidden" name="fid" value="{$fid}" />
<input type="hidden" name="threads" value="{$inlineids}" />
<input type="hidden" name="url" value="{$return_url}" />
	</div></div>
	</div></div>
</form>
{$footer}
</body>
</html>