<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<ul class="list-inline" style="margin-bottom: 0px">
<li class="list-inline-item">
<div class="dropdown dropstart"><button class="btn btn-user" aria-expanded="true" data-bs-toggle="dropdown" type="button"><i class="bi bi-person-circle"></i> &nbsp;{$mybb->user['username']}</button>
<div class="dropdown-menu dropdown-menu-start rounded shadow-sm mt-1 p-1 border" data-bs-popper="none" style="padding: 0px; font-size: 14px; font-weight: 600;">
{$usercplink}
{$pmslink}
<a href="{$mybb->settings['bburl']}/calendar.php" class="dropdown-item p-2"><i class="bi bi-calendar"></i> &nbsp; {$lang->toplinks_calendar}</a>
<a href="{$mybb->settings['bburl']}/memberlist.php" class="dropdown-item p-2"><i class="bi bi-people"></i> &nbsp; {$lang->toplinks_memberlist}</a>
<a href="{$mybb->settings['bburl']}/search.php" class="dropdown-item p-2"><i class="bi bi-search"></i> &nbsp; {$lang->toplinks_search}</a>
<a href="{$mybb->settings['bburl']}/portal.php" class="dropdown-item p-2"><i class="bi bi-grid"></i> &nbsp; {$lang->toplinks_portal}</a>
<a href="{$mybb->settings['bburl']}/misc.php?action=help" class="dropdown-item p-2"><i class="bi bi-question-circle"></i> &nbsp; {$lang->toplinks_help}</a>
{$modcplink}
{$admincplink}
<a rel="nofollow" class="dropdown-item p-2" href="{$mybb->settings['bburl']}/member.php?action=logout&amp;logoutkey={$mybb->user['logoutkey']}"><i class="bi bi-box-arrow-right"></i> &nbsp; {$lang->welcome_logout}</a>
</div>
</div>
</li>            
</ul>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	
	<ul class="list-group bg-white text-uppercase" style="font-weight: 500; font-size: 13px">
  <li class="list-group-item bg-white border-bottom">{$usercplink}</li>
  <li class="list-group-item bg-white border-bottom">{$pmslink}</li>
  <li class="list-group-item bg-white border-bottom"><a rel="nofollow" href="{$mybb->settings['bburl']}/member.php?action=logout&amp;logoutkey={$mybb->user['logoutkey']}" class="p-2">{$lang->welcome_logout}</a></li>
		<li class="list-group-item bg-white border-bottom"><a href="{$mybb->settings['bburl']}/portal.php" class="p-2">{$lang->toplinks_portal}</a></li>
  <li class="list-group-item bg-white border-bottom"><a href="{$mybb->settings['bburl']}/calendar.php" class="p-2 lastpostbit">{$lang->toplinks_calendar}</a></li>
  <li class="list-group-item bg-white border-bottom"><a href="{$mybb->settings['bburl']}/memberlist.php" class="p-2">{$lang->toplinks_memberlist}</a></li>
	 <li class="list-group-item bg-white border-bottom"><a href="{$mybb->settings['bburl']}/search.php" class="p-2">{$lang->toplinks_search}</a></li>
</ul>
	 <div class="p-2">
		 <button class="btn btn-multipage text-uppercase">{$modcplink}</button>
		 <button class="btn btn-multipage text-uppercase">{$admincplink}</button>
		</div>

</div>