<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<a class="dropdown-item p-2" href="{$mybb->settings['bburl']}/private.php"><i class="bi bi-envelope"></i> &nbsp; {$lang->welcome_pms}<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px">{$lang->welcome_pms_usage}</span></a>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
<a href="{$mybb->settings['bburl']}/private.php" class="p-2"><i class="bi bi-person-fill-gear"></i>{$lang->welcome_pms_usage}</a>
</div>