<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<form action="forumdisplay.php" method="get">
				<input type="hidden" name="fid" value="{$fid}" />
	<div class="row">
<div class="col align-self-center">
				<select class="form-select border" name="sortby">
					<option value="subject"{$sortsel['subject']}>{$lang->sort_by_subject}</option>
					<option value="lastpost"{$sortsel['lastpost']}>{$lang->sort_by_lastpost}</option>
					<option value="starter"{$sortsel['starter']}>{$lang->sort_by_starter}</option>
					<option value="started"{$sortsel['started']}>{$lang->sort_by_started}</option>
					{$ratingsort}
					<option value="replies"{$sortsel['replies']}>{$lang->sort_by_replies}</option>
					<option value="views"{$sortsel['views']}>{$lang->sort_by_views}</option>
				</select>
	</div>
	<div class="col align-self-center">
				<select name="order" class="form-select border">
					<option value="asc"{$ordersel['asc']}>{$lang->sort_order_asc}</option>
					<option value="desc"{$ordersel['desc']}>{$lang->sort_order_desc}</option>
				</select>
	</div>
	<div class="col align-self-center">
				<select name="datecut" class="form-select border">
					<option value="1"{$datecutsel['1']}>{$lang->datelimit_1day}</option>
					<option value="5"{$datecutsel['5']}>{$lang->datelimit_5days}</option>
					<option value="10"{$datecutsel['10']}>{$lang->datelimit_10days}</option>
					<option value="20"{$datecutsel['20']}>{$lang->datelimit_20days}</option>
					<option value="50"{$datecutsel['50']}>{$lang->datelimit_50days}</option>
					<option value="75"{$datecutsel['75']}>{$lang->datelimit_75days}</option>
					<option value="100"{$datecutsel['100']}>{$lang->datelimit_100days}</option>
					<option value="365"{$datecutsel['365']}>{$lang->datelimit_lastyear}</option>
					<option value="9999"{$datecutsel['9999']}>{$lang->datelimit_beginning}</option>
				</select>
	</div>
	<div class="col align-self-center">
				{$prefixselect}
	</div>
	<div class="col-auto align-self-center text-end">
				{$gobutton}
				</form>
	</div>
	</div>
</div>




<!-- responsive -->


	
	
	
	
	
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div><a class="btn btn-multipage mt-3 p-3" style="width: 100%" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">{$lang->sort_by_tab}</a>
    <div id="collapse-1" class="collapse mt-3">
        <form action="forumdisplay.php" method="get">
				<input type="hidden" name="fid" value="{$fid}" />
	<div class="row p-3">
		<div class="col-6">
				<select class="form-select border" name="sortby">
					<option value="subject"{$sortsel['subject']}>{$lang->sort_by_subject}</option>
					<option value="lastpost"{$sortsel['lastpost']}>{$lang->sort_by_lastpost}</option>
					<option value="starter"{$sortsel['starter']}>{$lang->sort_by_starter}</option>
					<option value="started"{$sortsel['started']}>{$lang->sort_by_started}</option>
					{$ratingsort}
					<option value="replies"{$sortsel['replies']}>{$lang->sort_by_replies}</option>
					<option value="views"{$sortsel['views']}>{$lang->sort_by_views}</option>
				</select>
		</div>
		<div class="col-6">
			<select name="order" class="form-select border">
					<option value="asc"{$ordersel['asc']}>{$lang->sort_order_asc}</option>
					<option value="desc"{$ordersel['desc']}>{$lang->sort_order_desc}</option>
				</select>
		</div>
	</div>
	<div class="row p-3 mt-2">
		<div class="col-6">
			<select name="datecut" class="form-select border">
					<option value="1"{$datecutsel['1']}>{$lang->datelimit_1day}</option>
					<option value="5"{$datecutsel['5']}>{$lang->datelimit_5days}</option>
					<option value="10"{$datecutsel['10']}>{$lang->datelimit_10days}</option>
					<option value="20"{$datecutsel['20']}>{$lang->datelimit_20days}</option>
					<option value="50"{$datecutsel['50']}>{$lang->datelimit_50days}</option>
					<option value="75"{$datecutsel['75']}>{$lang->datelimit_75days}</option>
					<option value="100"{$datecutsel['100']}>{$lang->datelimit_100days}</option>
					<option value="365"{$datecutsel['365']}>{$lang->datelimit_lastyear}</option>
					<option value="9999"{$datecutsel['9999']}>{$lang->datelimit_beginning}</option>
				</select>
		</div>
		<div class="col-6">
			{$prefixselect}
		</div>
	</div>
	<div class="mt-2 p-3 text-end">
		{$gobutton}
	</div>	
		</form>
    </div>
</div>
	</div>