<div class="row p-0">
	<div class="col text-muted">
		
		<span style="font-size: 18px"><a href="{$similar_thread['threadlink']}">{$similar_thread['threadprefix']}{$similar_thread['subject']}</a></span> <br />
		{$lang->by} <avatarep_suid_[{$similar_thread['uid']}]>{$similar_thread['profilelink']}
		
	</div>
	<div class="col-2 align-self-center">
		
		<span class="text-muted">{$lang->replies}</span> {$similar_thread['replies']}<br />
		<span class="text-muted">{$lang->views}</span> {$similar_thread['views']}
		
	</div>
	
	<div class="col-3 align-self-center">
		<span class="smalltext">{$lastpostdate}<br />
		<a href="{$similar_thread['lastpostlink']}">{$lang->lastpost} {$lang->by}</a> <avatarep_suid_[{$similar_thread['lastposteruid']}]>{$lastposterlink}</span>
	</div>
</div>