<td valign="top" colspan="2">
	<form enctype="multipart/form-data" action="usercp.php" method="post">
		<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
		{$avatar_error}
		<table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder ucp_avtable">
			<tr>
				<td class="thead" colspan="2"><strong>{$lang->change_avatar}</strong></td>
			</tr>
			<tr>
				<td class="trow1" colspan="2">
					<table cellspacing="0" cellpadding="0" width="100%">
						<tr>
							<td class="hide_mobile" align="center" colspan="3"><div class="ucp_avinfo">{$lang->avatar_note}</div></td>
						</tr>
						<tr>
							{$currentavatar}
							<td>
								{$avatar_remote}
								{$avatarupload}
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<br />
		<div align="center"  style="margin-bottom: 10px;">
			<input type="hidden" name="action" value="do_avatar" />
			<input type="submit" class="button" name="submit" value="{$lang->change_avatar}" />
			{$removeavatar}
		</div>
	</form>
</td>
