</div></div><footer class="footer-distributed">

			<div class="footer-left">
				<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1NjXWZcblzwYfWTam45bGS?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			</div>

			

			<div style="" class="footer-right">

				

				<div class="footer-icons">

					<a href="#"><i style="margin-top: 6px;" class="cp cp-discord"></i></a>
					<a href="#"><i style="margin-top: 6px;" class="cp cp-tumblr"></i></a>
					<a href="#"><i style="margin-top: 6px;" class="cp cp-github"></i></a>

				</div>

				<p style="" class="footer-links">
					<b>Radiant Cities RPG</b> &copy; 2025-{$copy_year} <b><a href="https://pinkbean.dev/BeanTeam">Bean Team</a></b>.<br/>
					Korzysta z szablonu <b><a href="https://community.mybb.com/mods.php?action=view&pid=1301">Dark Emerald</a></b> &copy; <a style="font-weight: bold; font-family: Noto Sans;" href="https://developement.design/">D&D</a> i silnika &copy; 2002-{$copy_year} <a href="https://www.mybb.com" target="_blank">MyBB Group</a>. {$lang->powered_by}.
				</p>

			</div>

			
		<div style="display: block;" class="scrollToTop"><i class="fa fa-angle-up"></i></div>
		<div class="scrollToDown"><i class="fa fa-angle-down"></i></div>
		
	</footer>


<script>
	if (connected == 0)
	{ jQuery("#mobile_member").html("<a href='member.php?action=login'>Login</a> - <a href='member.php?action=register'>Register</a>"); }
	if (connected == 1)
	{ document.getElementById("mobile_member").innerHTML = '<a title="Inbox" href="private.php">Inbox</a> - <a title="User CP" href="usercp.php">User CP</a> - <a title="Log Out" href="{$mybb->settings['bburl']}/member.php?action=logout&amp;logoutkey={$mybb->user['logoutkey']}">Logout</a>'; }
</script>
<!-- The following piece of code allows MyBB to run scheduled tasks. DO NOT REMOVE -->{$task_image}<!-- End task image code -->