					<label style="display: block; font-weight: 500"><input type="radio" name="type" value="custom" {$type_checked['custom']} class="types_check form-check-input" onclick="checkType();" /> {$lang->custom}</label>
					<div id="type_custom" class="types">
						
						<div class="row mb-3">
							<div class="col align-self-center">
								{$lang->reason}
								<input type="text" class="form-control border" name="custom_reason" size="50" maxlength="120" value="{$custom_reason}" />
							</div>
							<div class="col align-self-center">
								{$lang->points}
								<input type="text" class="form-control border" name="custom_points" size="2" value="{$custom_points}" />
							</div>
						</div>
						
						{$lang->expires}
						<div class="row">
							<div class="col align-self-center">
								<input type="text" class="form-control border" name="expires" size="2" value="{$expires}" />
							</div>
							<div class="col align-self-center">
								<select name="expires_period" class="form-select border">
									<option value="hours" {$expires_period['hours']}>{$lang->hour_or_hours}</option>
									<option value="days" {$expires_period['days']}>{$lang->day_or_days}</option>
									<option value="weeks" {$expires_period['weeks']}>{$lang->week_or_weeks}</option>
									<option value="months" {$expires_period['months']}>{$lang->month_or_months}</option>
									<option value="never" {$expires_period['never']}>{$lang->never}</option>
								</select>
							</div>
						</div>
</div>