<div>
	<!-- Dropdown for Game Masters -->
	<if $mybb->user['usergroup'] == 8 || $mybb->user['additionalgroups'] == 8 then>
		<div class="nav-item">
			<a>Narrator</a>
			<div class="dd_menu">
				<div class="items">
					<a href="">Link 1</a>
					<a href="">Link 2</a>
				</div>
			</div>
		</div>
	</if>

	<!-- Dropdown for Moderators and Administrators -->
	<if $mybb->user['usergroup'] == 3 || $mybb->user['usergroup'] == 4 || $mybb->user['usergroup'] == 6 || $mybb->user['additionalgroups'] == 3 || $mybb->user['additionalgroups'] == 4 || $mybb->user['additionalgroups'] == 6 then>
		<div class="nav-item">
			<a>Moderacja</a>
			<div class="dd_menu">
				<div class="items">
					{$admincplink}
					{$modcplink}
				</div>
			</div>
		</div>
	</if>

</div>


	<a class="inbox" href="{$mybb->settings['bburl']}/private.php" id="pm_notification" title="Prywatne Wiadomości"> 
		<if $mybb->user['pms_unread'] > 0 then><div class="unread_frame"><i class="cp cp-bell unread"></i> {$mybb->user['pms_unread']}</div>
			<else><i class="cp cp-bell-o"></i></else>
		</if>
	</a>	 

	<a href="usercp.php">{$mybb->user['username']}</a>

	<div class="av_bcg">
		<a href="{$mybb->settings['bburl']}/member.php?action=profile&uid={$mybb->user['uid']}">
			<img src="{$mybb->user['avatar']}" id="avatarheader">
		</a>
		<div class="av_menu">
			<div class="items">
				<!-- Extra account avatars will be here, with links to switch thems -->
				<a href="" title="Dodaj konto"><i class="cp cp-add"></i></a>
				<a href="{$mybb->settings['bburl']}/logout.php" title="Wyloguj się"><i class="cp cp-power"></i></a>
			</div>
		</div>
	</div>
	


<script>
	var connected = 1;
</script>