<div>
	<!-- Dropdown for Game Masters -->
	<if $mybb->user['usergroup'] == 8 || $mybb->user['is_in_group_8'] then>
		<div class="nav-item">
			<a class="desktop_member" title="Narrator">Narrator</a><a class="mobile_member" title="Narrator"><i class="cp cp-book"></i></a>
			<div class="dd_menu">
				<div class="items">
					<a href="">Link 1</a>
					<a href="">Link 2</a>
				</div>
			</div>
		</div>
	</if>

	<!-- Dropdown for Moderators and Administrators -->
	<if $mybb->user['usergroup'] == 3 || $mybb->user['usergroup'] == 4 || $mybb->user['usergroup'] == 6 || $mybb->user['is_in_groups_3_4_6'] then>
		<div class="nav-item">
			<a class="desktop_member" title="Moderacja">Moderacja</a><a class="mobile_member" title="Moderacja"><i class="cp cp-star"></i></a>
			<div class="dd_menu">
				<div class="items">
					{$admincplink}
					{$modcplink}
				</div>
			</div>
		</div>
	</if>

</div>

	<a class="inbox" href="{$mybb->settings['bburl']}/private.php" id="pm_notification" title="Prywatne Wiadomości"> 
		<if $mybb->user['pms_unread'] > 0 then><div class="unread_frame"><i class="cp cp-bell unread"></i> {$mybb->user['pms_unread']}</div>
			<else><i class="cp cp-bell-o"></i></else>
		</if>
	</a>	 

	<a href="usercp.php" class="desktop_member" title="Ustawienia Konta">{$mybb->user['username']}</a><a href="usercp.php" class="mobile_member" title="Ustawienia Konta"><i class="cp cp-user"></i></a>

	<div class="av_bcg desktop_member">
		<a href="{$mybb->settings['bburl']}/member.php?action=profile&uid={$mybb->user['uid']}">
			<img src="{$mybb->user['avatar']}" id="avatarheader" title="Konto">
		</a>
		<div class="av_menu">
			<div class="items">
				<!-- Extra account avatars will be here, with links to switch thems -->
				<a href="" title="Dodaj konto"><i class="cp cp-add"></i></a>
				<a href="{$mybb->settings['bburl']}/logout.php" title="Wyloguj się"><i class="cp cp-power"></i></a>
			</div>
		</div>
	</div>

	
	<div class="av_bcg mobile_member">
		<a>
			<img src="{$mybb->user['avatar']}" id="avatarheader" title="Konto">
		</a>
		<div class="av_menu">
			<div class="items">
				<!-- Extra account avatars will be here, with links to switch thems -->
				<a href="" title="Dodaj konto"><i class="cp cp-add"></i></a>
				<a href="{$mybb->settings['bburl']}/logout.php" title="Wyloguj się"><i class="cp cp-power"></i></a>
			</div>
		</div>
	</div>


<script>
	var connected = 1;
</script>