<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->account_activation}</title>
{$headerinclude}
</head>
<body>
{$header}
	<div class="container-md">

<form action="member.php" method="post">
   <div class="card shadow-sm border-0 align-center">
<div class="card-body p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 border-0 text-start">
	
	<div class="legend mb-4">{$lang->activate_account}</div>
	
	<div class="mb-3 ps-3 pe-3">
                 <label for="email" class="form-label">{$lang->username}</label>
                <input type="text" class="form-control border" name="username" value="{$user['username']}" />
	</div>
	
	<div class="mb-3 ps-3 pe-3">
                 <label for="email" class="form-label">{$lang->activation_code}</label>
                <input type="text" class="form-control border" name="code" value="{$code}" />
	</div>
	
	<div class="ps-3 text-start">

<input type="submit" class="btn btn-primary mt-2" style="padding-left 40px; padding-right: 40px" name="regsubmit" value="{$lang->activate_account}" />
</div>

	
	   </div></div></div>

</form>
{$footer}
</body>
</html>