<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->request_user_pass}</title>
{$headerinclude}
</head>
<body>
{$header}
	
	
	
	<div class="container-md">
{$errors}
	
<form action="member.php" method="post">
    <div class="card shadow-sm border-0 align-center">
<div class="card-body p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 border-0 text-start">
	
	<div class="legend mb-4">{$lang->request_user_pass}</div>
           <div class="p-3">
                 <label for="email" class="form-label">{$lang->email_address}</label>
                <input class="form-control border border" type="text" id="email" name="email" value="{$email}" placeholder=""/>
            
            <div class="row">
                <div class="col align-self-center">
                    {$captcha}
                </div>
            </div>
					
					<div class="mt-3">
						<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                         <input name="submit" type="submit" class="btn btn-primary mt-3" style="padding-left: 40px; padding-right: 40px" value="{$lang->submit_lostpw}" /></div>
<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
						<input name="submit" type="submit" class="btn btn-primary mt-3 p-2" style="width: 100%" value="{$lang->submit_lostpw}" /></div>
			   </div>
<input type="hidden" name="action" value="do_lostpw" />
		
		</div>
	</div>
     
    </div>
	</div>
</form>
{$footer}
</body>
</html>