<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->welcome_register}</title>
{$headerinclude}
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/validate/jquery.validate.min.js?ver=1821"></script>
</head>
<body>
{$header}
	
	<div class="container-md">
{$inline_errors}
{$member_loggedin_notice}

	
<div class="card shadow-sm border-0 align-center">
<div class="card-body p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 border-0">
	
	<div class="legend">{$lang->welcome_register}</div>
	<div class="ps-3 pe-3">				
					
	
<form action="member.php" method="post" id="registration_form"><input type="text" style="visibility: hidden;" value="" name="regcheck1" /><input type="text" style="visibility: hidden;" value="true" name="regcheck2" />
	
{$regerrors}
	
	<div class="form-group">
<label for="username">{$lang->username}</label>
<input type="text" class="form-control border" name="username" id="username" value="{$username}" />
	</div>

{$passboxes}
	
	<div class="row mt-3">
	<div class="col-6">
		
		
		<label>{$lang->email}</label>
		<input type="text" class="form-control border" name="email" id="email" maxlength="50" value="{$email}" />
		
	</div>
	<div class="col-6">
		
		<label>{$lang->confirm_email}</label>
		<input type="text" class="form-control border" name="email2" id="email2" maxlength="50" value="{$email2}" />
		
	</div></div>
	
	<div class="row">
		<div class="col" style="display: none;" id="email_status">&nbsp;</div>
	</div>
	
	
	


{$hiddencaptcha}
{$requiredfields}
{$customfields}
{$referrer}
{$regimage}
{$questionbox}
	

	
    
	
	
	
	
	
	
	



	
					
<div class="row mt-3">
	<div class="col align-self-center">
		<a class="btn btn-multipage" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button"><i class="bi bi-arrow-90deg-down"></i> {$lang->reg_options}</a>
	</div>
	<div class="col-auto align-self-center text-end">
<input type="hidden" name="regtime" value="{$time}" />
<input type="hidden" name="step" value="registration" />
<input type="hidden" name="action" value="do_register" />
<input type="submit" class="btn btn-primary" name="regsubmit" value="{$lang->submit_registration}" />
</div>
	</div>
	
	<div id="collapse-1" class="collapse mt-4">
		
		<!-- start additional -->
			<div class="text-muted">
			<input type="checkbox" class="form-check-input" name="allownotices" id="allownotices" value="1" {$allownoticescheck} /> {$lang->allow_notices}<br />
			<input type="checkbox" class="form-check-input mt-1" name="hideemail" id="hideemail" value="1" {$hideemailcheck} /> {$lang->hide_email}<br />
			<input type="checkbox" class="form-check-input mt-1" name="receivepms" id="receivepms" value="1" {$receivepmscheck} /> {$lang->receive_pms}<br />
			<input type="checkbox" class="form-check-input mt-1" name="pmnotice" id="pmnotice" value="1"{$pmnoticecheck} /> {$lang->pm_notice}<br />
			<input type="checkbox" class="form-check-input" name="pmnotify" id="pmnotify" value="1" {$pmnotifycheck} /> {$lang->email_notify_newpm}<br />
			<input type="checkbox" class="form-check-input" name="invisible" id="invisible" value="1" {$invisiblecheck} /> {$lang->invisible_mode}<br />
		    </div>
		    <label class="mt-4" for="subscriptionmethod">{$lang->subscription_method}</label>
			<select name="subscriptionmethod" id="subscriptionmethod" class="form-select border">
		    <option value="0" {$no_auto_subscribe_selected}>{$lang->no_auto_subscribe}</option>
		    <option value="1" {$no_subscribe_selected}>{$lang->no_subscribe}</option>
		    <option value="2" {$instant_email_subscribe_selected}>{$lang->instant_email_subscribe}</option>
		    <option value="3" {$instant_pm_subscribe_selected}>{$lang->instant_pm_subscribe}</option>
	        </select>
	        
		
		<div class="mt-4 mb-4 text-muted">
        {$lang->time_offset_desc}
{$tzselect}
		</div>
		
		
		<label>{$lang->dst_correction}</label>
<select name="dstcorrection" class="form-select border mt-1">
		<option value="2" {$dst_auto_selected}>{$lang->dst_correction_auto}</option>
		<option value="1" {$dst_enabled_selected}>{$lang->dst_correction_enabled}</option>
		<option value="0" {$dst_disabled_selected}>{$lang->dst_correction_disabled}</option>
	</select>

{$boardlanguage}

    </div>
		</div>
		
</form>
{$validator_javascript}
<script type="text/javascript" src="{$mybb->asset_url}/jscripts/regvalidator.js?ver=1823"></script>
	</div></div></div>
		
{$footer}
</body>
</html>