<html>
<head>
<title>{$lang->forum_announcement}</title>
{$headerinclude}
<script type="text/javascript">
var announcement_quickdelete_confirm = "{$lang->announcement_quickdelete_confirm}";
</script>
</head>
<body>
{$header}
	<div class="container-md">
		<div class="card mb-3 shadow-sm rounded bg-white border-0">
			<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 rounded">
				<div class="legend"><i class="bi bi-megaphone-fill"></i> &nbsp;{$lang->forum_announcement}</div>
				</div>
		</div>

	{$announcement}
			
	</div>
{$footer}
</body>
</html>