<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row bg-white p-3 ps-0 m-0">
<div class="col-auto text-center align-self-center">

<div id="mark_read_{$forum['fid']}" class="forum_status forum_{$lightbulb['folder']} ajax_mark_read" title="{$lightbulb['altonoff']}"><i class="bi bi-chat"></i></div>

</div>


    <div class="col align-self-center">

<h4 style="margin-bottom: 0px"><a href="{$forum_url}"><span style="font-size: 16px; font-weight: 400">{$forum['name']}</span></a></h4>
		{$subforums} 
<p class="text-muted" style="margin-bottom: 0px;">{$forum['description']}</p>
{$modlist} {$forum_viewers_text}

    </div>
	
    <div class="col-3 text-end align-self-center border-end">
        <div><p style="margin-bottom: 0px;"><span class="text-muted">{$lang->forumbit_threads}</span> {$threads}{$unapproved['unapproved_threads']}</p>
			<p style="margin-bottom: 0px;"><span class="text-muted">{$lang->forumbit_posts}</span> {$posts}{$unapproved['unapproved_posts']}</p></div>

    </div>

    <div class="col-1 text-end align-self-center">

<avatarep_uid_[{$lastpost_data['lastposteruid']}]>

</div>

    <div class="col-3 align-self-center">

      {$lastpost}

    </div>
</div>
	</div>
	
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="card border-0">
    <div class="card-body border-0">
        <h4 class="card-title"><div class="row"><div class="col-auto align-self-bottom p-0 m-0"><div id="mark_read_{$forum['fid']}" class="forum_status forum_{$lightbulb['folder']} ajax_mark_read" title="{$lightbulb['altonoff']}"><i class="bi bi-chat"></i></div></div><div class="col align-self-top"><a href="{$forum_url}"><span style="font-size: 16px; font-weight: 400">{$forum['name']}</span></a></div></div></h4>
        <h6 class="text-muted card-subtitle mb-2">{$subforums}</h6>
        <p class="card-text text-muted" style="font-size: 14px; font-weight: 400">{$forum['description']}</p>
        <div class="row p-3 bg-light m-0 rounded">
            <div class="col-auto text-end align-self-center"><avatarep_uid_[{$lastpost_data['lastposteruid']}]></div>
            <div class="col align-self-center">{$lastpost}</div>
        </div>
    </div>
</div>
		</div>