<div class="row p-0">
		<div class="col-1 align-self-center d-none d-md-block d-lg-block" style="width:50px">
        <div id="mark_read_{$forum['fid']}" class="forum_status forum_{$lightbulb['folder']} ajax_mark_read" title="{$lightbulb['altonoff']}"><i class="bi bi-chat-fill"></i></div>
    </div>
    <div class="col-3 align-self-center p-2" style="width:500px">
        <div><strong><a href="{$forum_url}">{$forum['name']}</a></strong>{$forum_viewers_text}<div class="smalltext" style="font-size: 16px;">{$forum['description']}{$modlist}{$subforums}</div>
        </div>
    </div>
    <div class="col align-self-center text-center d-none d-lg-block"  style="width:auto">
        <div>{$threads}{$unapproved['unapproved_threads']}<br />
            <p class="text-muted" style="font-size: 13px;margin-top: 0px;">threads</p>
        </div>
    </div>
    <div class="col align-self-center text-center d-none d-lg-block"  style="width:auto">
        <div>{$posts}{$unapproved['unapproved_posts']}<p class="text-muted" style="font-size: 13px;margin-top: 0px;">posts hi</p>
        </div>
    </div>
    <div class="col-1 align-self-center d-none d-lg-block"  style="width:auto">
        <div class="bg-light justify-content-center align-items-center align-content-center align-self-center border rounded border-1" style="padding: 6px;width: 50px;height: 50px;float: right;margin-right: 20px;"><svg class="bi bi-person-fill text-black-50" width="1em" height="1em" viewBox="0 0 16 16" style="font-family: Quicksand, sans-serif;font-size: 30px;">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg></div>
    </div>
    <div class="col-2 align-self-center text-right p-2" style="width:250px">
        <div>{$lastpost}</div>
		</div></div>

<br />