<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->users_online}</title>
{$headerinclude}
{$refresh}
</head>
<body>
	{$header}
	
	<div class="container-md">
	{$multipage}
		
<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
<div class="legend mb-4">
{$lang->users_online}
</div>
	
	
		
		
	
		{$online_rows}
		
		<div class="mt-5 float-end"><a href="online.php?action=today" class="btn btn-multipage">{$lang->online_today}</a> <a href="online.php" class="btn btn-multipage"><i class="bi bi-arrow-clockwise"></i> {$lang->refresh_page}</a></div>
		
	</div></div>
	{$multipage}
	</div>
	{$footer}
</body>
</html>