<div class="legend mt-4 mb-4">{$lang->mod_options}</div>
<div class="p-3">
<div class="row">
	<div class="col align-self-center">

<select name="visible" class="form-select border">
<option value="">{$lang->display_all}</option>
<option value="1">{$lang->display_only_approved}</option>
<option value="0">{$lang->display_only_unapproved}</option>
<option value="-1">{$lang->display_only_softdeleted}</option>
</select>
		
	</div>
	<div class="col-auto align-self-center">

{$lang->results}
		
	</div>
	</div></div>