<html>
<head>
<title>{$lang->newthread_in}</title>
{$headerinclude}
{$post_javascript}
</head>
<body>
{$header}
	<div class="container-md">
{$forumrules}		
{$preview}
{$thread_errors}
{$attacherror}
{$moderation_notice}
		

<form action="newthread.php?fid={$fid}&amp;processed=1" method="post" enctype="multipart/form-data" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	
<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	
	<div class="legend mb-4">
	{$lang->post_new_thread}
	</div>
	
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">{$lang->message_tab}</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">{$lang->menu}</a></li>
    </ul>
    <div class="tab-content mt-4">
        <div id="tab-1" class="tab-pane active" role="tabpanel">
            {$prefixselect} 
	<input type="text" class="form-control border border mb-3" name="subject" maxlength="85" placeholder="Title" value="{$subject}" tabindex="1" />


<textarea id="message" name="message" class="form-control border border bg-white" style="height: 300px" tabindex="2" >{$message}</textarea>
	
	
{$codebuttons}
{$attachbox}
{$multiquote_external}
{$captcha}
        </div>
        <div id="tab-2" class="tab-pane" role="tabpanel">
            <div class="ps-3">{$posticons}</div>	
	<div class="ps-3 mt-4">{$loginbox}</div>
{$postoptions}
{$modoptions}
{$subscriptionmethod}
{$pollbox}
        </div>
    </div>
</div>


	
	
<div class="mt-3 text-end p-0">
	
<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">	
<input type="submit" class="btn btn-primary" name="submit" value="{$lang->post_thread}" tabindex="4" accesskey="s" />  <input type="submit" class="btn btn-primary" name="previewpost" value="{$lang->preview_post}" tabindex="5" />{$savedraftbutton} </div>
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
		<input type="submit" class="btn btn-primary" style="width: 100%" name="submit" value="{$lang->post_thread}" tabindex="4" accesskey="s" />
	</div>
	
	
	
	
</div>
<input type="hidden" name="action" value="do_newthread" />
<input type="hidden" name="posthash" value="{$posthash}" />
<input type="hidden" name="attachmentaid" value="" />
<input type="hidden" name="attachmentact" value="" />
<input type="hidden" name="quoted_ids" value="{$quoted_ids}" />
<input type="hidden" name="tid" value="{$tid}" />
{$editdraftpid}
</form>

	</div></div>

		
		
	
{$footer}
</body>
</html>