<html>
<head>
<title>{$mybb->settings['bbname']}</title>
{$headerinclude}
<script type="text/javascript">
<!--
lang.no_new_posts = "{$lang->no_new_posts}";
lang.click_mark_read = "{$lang->click_mark_read}";
// -->
</script>
	
<!-- Hiding announcements -->	
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleButton = document.getElementById("announcement");
      const forumsDiv = document.querySelector(".announcements");

      toggleButton.addEventListener("click", function() {
        forumsDiv.classList.toggle("hide");
      });
    });
	
  </script>
</head>
<body>
{$header}
	
	
	<div class="thead"><if $mybb->user['usergroup'] == 1 then>Radiant Cities RPG<else>Wiadomości ze świata</else></if><div class="expcolimage"><i id="announcement" class="expander cp cp-minus smalltext" /></i></div></div>
	<div class="forums announcements">
		<div class="announcement_bg">
			<if $mybb->user['usergroup'] == 1 then>
				<div class="an_section guest_img"><img src="https://64.media.tumblr.com/d2a75f6b66b3f334f22df0382ef67558/40fb8323720ec1f9-9e/s1280x1920/d16914a97d8c023da9c8a1b0ba7c7e45840817d5.gif"></div>
				<div class="an_section guest_announcement">Ogłoszenie dla gości - wstęp do forum</div>
				<div class="an_section guest_announcement">Ogłoszenie dla gości - info o tym jak dołączyć do gry + linki</div>
				<div class="an_section guest_img"><img src="https://64.media.tumblr.com/d2a75f6b66b3f334f22df0382ef67558/40fb8323720ec1f9-9e/s1280x1920/d16914a97d8c023da9c8a1b0ba7c7e45840817d5.gif"></div>
			<else> 
				<div class="an_section registered_img"><img src="https://64.media.tumblr.com/62872e1ada71cc78f206034f0970020f/f84cbcd38a12bf55-d2/s1280x1920/d3fd52cbb1bcd175a0f0fcf13d52235197fc96ee.gif"></div>
				<div class="an_section registered_announcement">Hej, {$mybb->user['username']} <br>Ogłoszenie dla zarejestrowanych użytkowników - pora roku, rok, pogoda</div>
				<div class="an_section registered_announcement">Newsy ze świata <br>Jakieś ważniejsze wydarzenia</div>
				<div class="an_section registered_img"><img src="https://64.media.tumblr.com/62872e1ada71cc78f206034f0970020f/f84cbcd38a12bf55-d2/s1280x1920/d3fd52cbb1bcd175a0f0fcf13d52235197fc96ee.gif"></div>
				<div class="an_section registered_img"><img src="https://64.media.tumblr.com/62872e1ada71cc78f206034f0970020f/f84cbcd38a12bf55-d2/s1280x1920/d3fd52cbb1bcd175a0f0fcf13d52235197fc96ee.gif"></div>
				<div class="an_section registered_announcement">Ogłoszenia + Sesje z MG <br> Aktywna karta z linkami <br> ikonki z waznymi linkami</div>
				</else>
			</if>
		</div>
	</div><br/><br/>
	
	<div class ="container">
		<div class="background">
		<div class="forum">{$forums}
			
			<div class="legend">
				<div class="forum_stats"> Tu będzie obrazek i statystyki
					<div class="groups_descriptions">tutaj będą opisy grup</div>
				</div>
			</div>

			<!-- TEST KOLORÓW GRUP -->
			<div style="color: var(--registered);">Zarejestrowani</div>
			<div style="color: var(--not-active);">Nieaktywni</div>
			<div style="color: var(--banned);">Zbanowani</div>
			<div style="color: var(--npc);">NPC</div>
			<div style="color: var(--opal);">1 - Opal</div>
			<div style="color: var(--citrine);">2 - Citrine</div>
			<div style="color: var(--aventurine);">3 - Aventurine</div>
			<div style="color: var(--sapphire);">4 - Sapphire</div>
			<div style="color: var(--amethyst);">5 - Amethyst</div>
			<div style="color: var(--rose-quartz);">6 - Rose quartz</div>
			<div style="color: var(--ruby);">7 - Ruby</div>
			<div style="color: var(--amber);">8 - Inni - Amber</div>
			
			{$boardstats}</div>
		</div>
	</div>

<br class="clear" />
{$footer}
</body>
</html>