<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
	<div class="author_avatar position-relative mt-2"><a href="{$post['profilelink_plain']}"><img class="rounded-circle" style="width: 100px; height: 100px; padding: 0px;" src="{$useravatar['image']}" alt="" {$useravatar['width_height']} /></a></div>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="author_avatar"><a href="{$post['profilelink_plain']}"><img class="rounded-circle" style="width: 60px; height: 60px; padding: 0px;" src="{$useravatar['image']}" alt="" {$useravatar['width_height']} /></a></div>
</div>