<div class="row mb-2" style="font-size: 13px; font-weight: 400">
	<div class="col-auto align-self-center">

{$attachment['icon']}
		
	</div>
	<div class="col align-self-center">
		<a href="attachment.php?aid={$attachment['aid']}" target="_blank" title="{$attachdate}">{$attachment['filename']}</a> <br />
		<span class="text-muted" style="font-size: 12px">{$lang->postbit_attachment_size} {$attachment['filesize']} / {$lang->postbit_attachment_downloads} {$attachment['downloads']}</span>
	</div>
</div>