<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
	<a href="newreply.php?tid={$tid}&amp;replyto={$post['pid']}" title="{$lang->postbit_quote}" class="postbit_quote postbit_mirage dropdown-item"><span>{$lang->postbit_button_quote}</span></a>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<a href="newreply.php?tid={$tid}&amp;replyto={$post['pid']}" title="{$lang->postbit_quote}" class="postbit_quote postbit_mirage btn btn-multipage" style="font-size: 12px"><span>{$lang->postbit_button_quote}</span></a>
</div>