<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
	<a href="editpost.php?pid={$post['pid']}" id="edit_post_{$post['pid']}" title="{$lang->postbit_edit}" class="postbit_edit postbit_mirage dropdown-item"><span>{$lang->postbit_button_edit}</span></a>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<a href="editpost.php?pid={$post['pid']}" id="edit_post_{$post['pid']}" title="{$lang->postbit_edit}" class="postbit_edit postbit_mirage btn btn-multipage"><span>{$lang->postbit_button_edit}</span></a>
</div>
</script>