<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
{$ignore_bit}{$deleted_bit}
<span class="float-right">
<a name="pid{$post['pid']}" id="pid{$post['pid']}"></a>
<div class="post {$unapproved_shade}" style="{$post_visibility}" id="post_{$post['pid']}">
</span>
	

	
<div class="card shadow-sm mb-4 border-0 border rounded bg-white p-5 m-0" style="border-bottom: 1px solid #e8ecf3">
	
<div class="row border-bottom pb-4">
	<div class="col-auto align-self-center text-center">
	{$post['useravatar']} 
	</div>
	<div class="col align-self-center">
		<span style="font-size: 16px; font-weight: 700; text-decoration: none" class="postbit-u">{$post['profilelink']}</span><br />
		{$post['usertitle']}
	</div>
	<div class="col-auto align-self-center">
		<div class="dropdown d-flex justify-content-center align-bottom"><button class="btn btn-multipage mt-1" aria-expanded="true" data-bs-toggle="dropdown" type="button" style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots fs-5 text-secondary" viewBox="0 0 16 16">
  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
</svg></button>
    <div class="dropdown-menu p-2">
		{$post['button_email']}{$post['button_pm']}{$post['button_www']}{$post['button_find']}{$post['button_rep']}

	</div>
		
</div>
		
	</div>
	<div class="col-auto align-self-center">
		
		<span style="font-size: 14px; font-weight: 500" class="text-muted">{$post['user_details']}</span>
	</div>
	</div>
	
	<div class="row mt-3">
		<div class="col align-self-center">
			<span class="text-muted" style="font-size: 12px">{$post['postdate']}</span>
		</div>
		<div class="col align-self-center text-end">
			<span class="text-muted" style="font-size: 12px">{$post['posturl']} 
		 </span>
		</div>
	</div>
			
			<span style="font-weight: 400; font-size: 14px" id="pid_{$post['pid']}" class="mt-4">{$post['message']}</span>

{$post['editedmsg']}
	
		
		
	
	


	<div class="post_body scaleimages">
{$post['attachments']}
{$post['signature']}
	</div>


	

			{$post['poststatus']} <div class="post_meta" id="post_meta_{$post['pid']}">
		{$post['iplogged']} 
	</div>
	
	<div class="mt-3 text-end">
		<div class="dropdown d-flex justify-content-end mb-0 align-bottom"><button class="btn btn-multipage" aria-expanded="true" data-bs-toggle="dropdown" type="button" style="border-style: none;"><svg class="bi bi-three-dots fs-5 text-secondary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
        </svg></button>
    <div class="dropdown-menu p-2">
		{$post['button_edit']}{$post['button_quickdelete']}{$post['button_quickrestore']}{$post['button_quote']}{$post['button_multiquote']}{$post['button_report']}{$post['button_warn']}{$post['button_purgespammer']}{$post['button_reply_pm']}{$post['button_replyall_pm']}{$post['button_forward_pm']}{$post['button_delete_pm']}
		

	</div>
		</div>
	</div>
	

			
		</div>
	</div>
	</div>
	<!-- old -->
		




<!-- responsive -->

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
<div class="card border-0 shadow-sm mt-4 mb-4">
    <div class="card-body p-4">
        <div class="row m-0 mb-3">
            <div class="col-auto align-self-center">{$post['useravatar']}</div>
			<div class="col align-self-center"><h5 style="margin-bottom: 0px">{$post['profilelink']}</h5><span class="text-muted" style="font-size: 12px">{$post['postdate']}{$post['posturl']}</span></div>
        </div>
        <p class="card-text">{$post['message']}</p>
		<p class="card-text">{$post['attachments']}
			{$post['signature']}
		</p>
		<div class="mt-3 text-end p-0">
			<div class="row p-0 m-0">
				<div class="col text-end p-0 m-0 align-self-center">
			{$post['button_edit']}
				</div>
				<div class="col-auto text-end p-0 m-0 align-self-center">
					{$post['button_quote']}
				</div>
			</div>
		</div>
    </div>
</div>
</div>