<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->contact}</title>
{$headerinclude}
</head>
<body>
{$header}
	<form action="contact.php" method="post">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="from" value="{$redirect_url}" />
	<div class="container-md">
		
		
		{$errors}
		<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	
	<div class="legend mb-4">{$lang->contact}</div>
	
<div class="row">
	<div class="col-6">
		
		<div class="form-group">
			<label>{$lang->contact_subject}</label>
			<input type="text" name="subject" class="form-control border border" value="{$contact_subject}" />
		</div>
		
	</div>
	<div class="col-6">
		
		<div class="form-group">
			<label>{$lang->contact_email}</label>
			<input type="text" name="email" class="form-control border border" value="{$user_email}" />
		</div>
		
	</div>
	</div>
	
	<div class="row mt-4">
	<div class="col">
		
		<div class="form-group">
			<label>{$lang->contact_message}</label>
			<textarea style="height: 300px; resize: none" class="form-control border border" name="message" class="textarea" >{$contact_message}</textarea>
		</div>
		{$captcha}
	</div>
	</div>
	
	
	<div class="text-end mt-4 p-0">
		<input type="submit" class="btn btn-primary" name="submit" value="{$lang->contact_send}" />
	</div>
	</div>
			</div>
		</div>
</form>
{$footer}
</body>
</html>