<form action="editpost.php" method="post" name="editpost">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	
<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	
	<div class="legend mb-4">{$lang->delete_post}</div>
	
	<div class="row p-3">
						<div class="col align-self-center">
							
							<input type="checkbox" class="form-check-input" name="delete" value="1" tabindex="9" />&nbsp; <strong>{$lang->delete_q}</strong>
							
						</div>
		<div class="col text-center align-self-center d-none do-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
		{$lang->delete_2}
		</div>
		<div class="col align-self-center text-end">
							
							<input type="submit" class="btn btn-primary" name="submit" value="{$lang->delete_now}" tabindex="10" />
							
						</div></div>
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
		<div class="p-3 text-center">{$lang->delete_2}</div>
		</div>

<input type="hidden" name="action" value="deletepost" />
<input type="hidden" name="pid" value="{$pid}" />
</form>
	</div></div>