<div class="row pt-3 pb-3 m-0 border-bottom">
		<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center">
			{$modaction['profilelink']}
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center text-muted">
			{$modaction['dateline']}
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center">
			{$modaction['action']}
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center">
			{$info}
		</div>
	</div>