<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row p-3 m-0 border-bottom">
		<div class="col align-self-center text-muted">
			{$user['profilelink']} {$leader}
		</div>
	<div class="col align-self-center text-muted">
		{$regdate}
	</div>
	<div class="col align-self-center">
		Posts {$user['postnum']}
	</div>
	<div class="col-auto align-self-center">
		{$checkbox}
	</div>
	</div>

</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none p-3 border-bottom">
{$user['profilelink']} {$leader} <br />
{$regdate} <span class="float-end">{$checkbox}</span>
	
	
	
</div>