<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->join_requests}</title>
{$headerinclude}
</head>
<body>
	{$header}
		<div class="container-md">
			
		<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
<div class="ps-3 pe-3">{$joinrequests}
<form method="post" action="managegroup.php">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="action" value="do_joinrequests" />
<input type="hidden" name="gid" value="{$gid}" />
	<div class="legend mb-4">{$lang->join_requests}</div>


{$users}

<div class="mt-1 text-end"><input type="submit" class="btn btn-primary" value="{$lang->action_requests}" /></div>
</form>
	</div></div></div></div>
{$footer}
</body>
</html>