<html>
<head>
	<title>{$mybb->settings['bbname']} - {$lang->members_of}</title>
	{$headerinclude}
</head>
<body>
	{$header}
		<div class="container-md">
			{$multipage}
		<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	<p class="text-muted ps-3 pe-3"><i class="bi bi-info-circle"></i> {$usergrouptype}</p>
	{$group_leaders}
	<div class="legend mt-4 mb-4">{$lang->members_of}</div>
			{$users}
	
	<div class="ps-3 pe-3">{$joinrequests}</div>
	<form method="post" action="managegroup.php">
		<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
		<input type="hidden" name="action" value="do_manageusers" />
		<input type="hidden" name="gid" value="{$gid}" />
	
		<div class="mt-3 text-end pe-3">
			{$remove_users}
		</div>
		
	
	{$add_user}
	{$invite_user}
			</div></div></div>
			</form>
	{$footer}
</body>
</html>