<div class="mt-3"></div>{$lang->send_pm}

				<script type="text/javascript">
				// <!--
					function togglePM()
					{
						if($('#send_pm').prop('checked') == true)
						{
							$('#pm_input').show();
							$('#pm_smilie_insert').show();
						}
						else
						{
							$('#pm_input').hide();
						}
					}
				// -->
				</script>
				<label style="display: block;"><input type="checkbox" class="form-check-input" value="1" name="send_pm" id="send_pm" onclick="togglePM();" {$send_pm_checked} /> {$lang->send_user_warning_pm}</label>
				<div id="pm_input" class="mt-3">
					{$lang->send_pm_subject}
						<input type="text" class="form-control border mb-3" name="pm_subject" size="40" maxlength="85" value="{$pm_subject}" />
					{$lang->send_pm_message}
						<textarea name="pm_message" class="form-control border" id="message" rows="20" cols="70">{$message}</textarea>
						{$codebuttons}
					
					{$anonymous_pm}
				
				<script type="text/javascript">
				<!--
				$(function() {
					togglePM();
				});
				// -->
				</script>
</div>