</div>

<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
	<div class="mt-5"></div>
<footer class="bg-white mt-4">
    <div class="container-md pt-5 pb-5">
        <div class="row">
            <div class="col align-self-top">
                <ul class="list-inline" style="margin-top: 10px;margin-bottom: 0px;">
					{$showteamlink}
                    {$contact_us}
                    <li class="list-inline-item me-4"><a href="{$mybb->settings['homeurl']}">{$mybb->settings['homename']}</a></li>
                    <li class="list-inline-item me-4"><a href="#top">{$lang->bottomlinks_returntop}</a></li>
                    <li class="list-inline-item me-4"><a href="<archive_url>">{$lang->bottomlinks_litemode}</a></li>
                    <li class="list-inline-item me-4"><a href="{$mybb->settings['bburl']}/misc.php?action=markread{$post_code_string}">{$lang->bottomlinks_markread}</a></li>
					<li class="list-inline-item me-4"><a href="{$mybb->settings['bburl']}/misc.php?action=syndication">{$lang->bottomlinks_syndication}</a></li>
					<li class="list-inline-item"><a href="{$mybb->settings['bburl']}/stats.php">{$lang->stats_tab}</a></li>
                </ul>
				
				<div class="mt-3 text-muted" style="font-size: 14px">
                    {$lang->powered_by} <a href="https://www.mybb.com/" target="_blank" rel="noopener">MyBB{$mybbversion}</a>, © 2002-{$copy_year} <a href="https://www.mybb.com/" target="_blank" rel="noopener">MyBB Group</a>.<br />Theme designed by <a href="https://www.curvesui.com/" target="_blank">Curves UI</a>.

                    {$task_image}
                    {$auto_dst_detection}</div>
            </div>
            <div class="col-4">
				<form action="{$mybb->settings['bburl']}/search.php">
						
                <div class="input-group">
					<input class="form-control border border" name="keywords" type="text" />
					<button class="btn btn-multipage border" type="submit">{$lang->search_button}</button></div>
														<input type="hidden" name="action" value="do_search" />
							<input type="hidden" name="postthread" value="1" />
						</form>
					
{$theme_select}
					{$lang_select}
					<br />

            </div>
        </div>
    </div>
</footer>
	
	
	
	</div>
	
	<!-- responsive -->
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
<footer class="bg-white mt-5">
    <div class="container-md pt-5 pb-5">
		
		
			<form action="{$mybb->settings['bburl']}/search.php">
						
                <div class="input-group">
					<input class="form-control border" name="keywords" type="text" />
					<button class="btn btn-light border" type="submit">{$lang->search_button}</button></div>
														<input type="hidden" name="action" value="do_search" />
							<input type="hidden" name="postthread" value="1" />
						</form>
		<div class="mt-3 text-muted text-center" style="font-size: 14px">
                    {$lang->powered_by} <a href="http://www.mybb.com/" target="_blank" rel="noopener">MyBB{$mybbversion}</a>, © 2002-{$copy_year} <a href="http://www.mybb.com/" target="_blank" rel="noopener">MyBB Group</a>.<br />Theme designed by <a href="https://www.curvesui.com/" target="_blank">Curves UI</a>.</div>
		
	</div>
		</footer>
	</div>

<script src="jscripts/boot.js"></script>