<html lang="pl">

<head>
  <title>{$thread['subject']}</title>
  {$headerinclude}

  <script>
    <!--
    var quickdelete_confirm = "{$lang->quickdelete_confirm}";
    var quickrestore_confirm = "{$lang->quickrestore_confirm}";
    var allowEditReason = "{$mybb->settings['alloweditreason']}";
    lang.save_changes = "{$lang->save_changes}";
    lang.cancel_edit = "{$lang->cancel_edit}";
    lang.quick_edit_update_error = "{$lang->quick_edit_update_error}";
    lang.quick_reply_post_error = "{$lang->quick_reply_post_error}";
    lang.quick_delete_error = "{$lang->quick_delete_error}";
    lang.quick_delete_success = "{$lang->quick_delete_success}";
    lang.quick_delete_thread_success = "{$lang->quick_delete_thread_success}";
    lang.quick_restore_error = "{$lang->quick_restore_error}";
    lang.quick_restore_success = "{$lang->quick_restore_success}";
    lang.editreason = "{$lang->postbit_editreason}";
    // 
    -->
  </script>
  <!-- jeditable (jquery) -->
  <script src="{$mybb->asset_url}/jscripts/report.js?ver=1804"></script>
  <script src="{$mybb->asset_url}/jscripts/jeditable/jeditable.min.js"></script>
  <script src="{$mybb->asset_url}/jscripts/thread.js?ver=1804"></script>
  <script>
    $(".hover").mouseleave(
      function() {
        $(this).removeClass("hover");
      }
    );
  </script>

  <!-- Post indentation -->
  <script src="jscripts/indent.js"></script>

  <!-- Spoiler -->
  <script src="jscripts/spoiler.js"></script>

  <!-- Post code copy -->
  <script src="jscripts/copytoclipboard.js"></script>

  <!-- Sticky avatar -->
  <script src="jscripts/sticky.js"></script>

  <!-- Carousel and content list -->
  <script src="jscripts/carousel.js"></script>

</head>

<body>
  {$header}
  {$threadnotesbox}
  {$pollbox}

  <div class="topic_title">{$thread['threadprefix']}{$thread['subject']}</div>

  <table border="0" cellspacing="{$theme['borderwidth']}" style="border-bottom:none;" cellpadding="{$theme['tablespace']}" class="tborder tfixed clear">
    <!--[html-validate-disable-next  element-permitted-content]-->
    <div>

    </div>
    <!--[html-validate-disable-next  close-order]-->
    </div>
    <!--[html-validate-disable-next  close-order]-->
    </div>


    <tr>
      <td id="posts_container">
        <div id="posts">
          {$posts}
        </div>
      </td>
    </tr>

    <tr>
      <td class="tfoot">
        {$search_thread}
        <div style="padding:10px">
          <strong>&laquo; <a href="{$next_oldest_link}">{$lang->next_oldest}</a> | <a href="{$next_newest_link}">{$lang->next_newest}</a> &raquo;</strong><br>{$usersbrowsing}
        </div>
      </td>
    </tr>
  </table>
  <div class="float_left">
    {$multipage}
  </div>
  <div class="desktop float_right">
    {$newreply}<br /><br />
  </div>
  <br class="clear" />
  {$quickreply}
  {$threadexbox}
  {$similarthreads}
  <br />
  <div class="float_left">
    <ul class="thread_tools">
      <li class="printable"><a href="printthread.php?tid={$tid}">{$lang->view_printable}</a></li>
      {$sendthread}
      <li class="subscription_{$add_remove_subscription}"><a href="usercp.php?action={$add_remove_subscription}subscription&amp;tid={$tid}&amp;my_post_key={$mybb->post_code}">{$add_remove_subscription_text}</a></li>
      {$addpoll}
    </ul>
  </div>

  <div class="float_right" style="text-align: right;">
    {$moderationoptions}
    {$forumjump}
  </div>
  <br class="clear" />
  {$footer}
  <div id="thread_modes_popup" class="popup_menu" style="display: none;">
    <div class="popup_item_container"><a href="showthread.php?mode=linear&amp;tid={$tid}&amp;pid={$pid}#pid{$pid}" class="popup_item">{$lang->linear}</a></div>
    <div class="popup_item_container"><a href="showthread.php?mode=threaded&amp;tid={$tid}&amp;pid={$pid}#pid{$pid}" class="popup_item">{$lang->threaded}</a></div>
  </div>
  <script>
    // <!--
    if (use_xmlhttprequest == "1") {
      $("#thread_modes").popupMenu();
    }
    // -->
  </script>
  <script>
    $(".author_avatar img").error(function() {
      $(this).unbind("error").closest('.author_avatar').remove();
    });
  </script>
</body>

</html>