<form action="private.php" method="post" name="input">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="to" value="{$to}" />
	<input type="hidden" name="bcc" value="{$bcc_form_val}" />
	<input type="hidden" name="subject" value="Re: {$subject}" />
	<input type="hidden" name="action" value="do_send" />
	<input type="hidden" name="pmid" value="{$pmid}" />
	<input type="hidden" name="do" value="reply" />

<div class="legend mt-4 mb-4">
	
	<div class="row">
		<div class="col align-self-center">
	{$lang->quick_reply}
		</div>
		<div class="col-auto text-end align-self-center">
			<div class="dropdown">
				<button class="btn btn-multipage" aria-expanded="false" data-bs-toggle="dropdown" type="button">{$lang->menu} &nbsp;<i class="bi bi-chevron-down"></i></button>
				
    <div class="dropdown-menu p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5" style="width: 400px">
		
		<div class="form-check form-switch">
  <input type="checkbox" class="form-check-input" name="options[signature]" value="1"{$optionschecked['signature']} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->quickreply_signature}</label>
</div>
		<div class="form-check form-switch">
  <input type="checkbox" class="form-check-input" name="options[disablesmilies]" value="1"{$optionschecked['disablesmilies']} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->quickreply_disable_smilies}</label>
</div>
		<div class="form-check form-switch">
  <input type="checkbox" class="form-check-input" name="options[savecopy]" value="1"{$optionschecked['savecopy']} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->quickreply_signature}</label>
</div>
		{$private_send_tracking}
		
</div>
			</div>
		</div>
	</div></div><!-- legend -->

<textarea class="form-control border border" style="height: 150px; resize: none" name="message" id="message" tabindex="1">{$quoted_message}</textarea>

	<div class="text-end mt-4 p-o">
	<input type="submit" class="btn btn-primary" value="{$lang->send_message}" tabindex="2" accesskey="s" /> <input type="submit" class="btn btn-reply" name="preview" value="{$lang->preview}" tabindex="3" />
	</div>
</form>