<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->archive_messages}</title>
{$headerinclude}
</head>
<body>
{$header}
<form action="private.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<div class="container-md">
<div class="row">
<div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">

{$usercpnav}
				
</div>
<div class="col">
				<!-- offcanvas -->
				<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
				<button class="btn btn-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="bi bi-list"></i> &nbsp;{$lang->ucpmenu}
</button>
				
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header catmod">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{$lang->ucp_nav_menu}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body catmod">
    <div>
     {$usercpnav}
    </div>
  </div>
</div>
				</div>
				<!-- /offcanvas -->
<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	
	<div class="legend mb-4">{$lang->archive_messages}</div>
<div class="ps-3 pe-3">
	<div class="text-muted mb-4">{$lang->archive_note}</div>

	
	<div class="form-group mb-3">
		<label>{$lang->folders}</label>
         {$folderlist}
	</div>
	
	<div class="row">
		<div class="col align-self-center">
			

	<div class="form-group">
		<label>{$lang->date_limit}</label>
<select name="dayway" class="form-select border">
	<option value="older">{$lang->date_limit_older}</option>
	<option value="newer">{$lang->date_limit_newer}</option>
	<option value="disregard">{$lang->date_limit_disregard}</option>
		</select> 
			</div>
	</div>
		<div class="col-6 align-self-center">
			<div class="form-group">
				<label>{$lang->date_limit_days}</label>
			<input type="text" class="form-control border border" name="daycut" value="30" size="3" maxlength="4" /> 
			</div>
		</div>
	</div>
	
	<div class="row mt-4">
		<div class="col align-self-top">
{$lang->export_unread} <br />
	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="exportunread" value="1" />
  <label class="form-check-label" for="inlineRadio1">{$lang->yes}</label>
</div>
			<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="exportunread" value="0" />
  <label class="form-check-label" for="inlineRadio1">{$lang->no}</label>
</div>
			<br /><br />
			
			{$lang->export_format} <br />
			
			<span class="text-muted">{$lang->export_format_note}</span>
			<br /><br />
			
			<div class="form-check mb-1">
  <input type="radio" class="form-check-input" name="exporttype" value="html" checked="checked" />
  <label class="form-check-label" for="exampleRadios1">
    {$lang->export_html}
  </label>
</div>
			
			<div class="form-check mb-1">
  <input type="radio" class="form-check-input" name="exporttype" value="txt" />
  <label class="form-check-label" for="exampleRadios1">
    {$lang->export_txt}
  </label>
</div>
			
			<div class="form-check">
  <input type="radio" class="form-check-input" name="exporttype" value="csv" />
  <label class="form-check-label" for="exampleRadios1">
    {$lang->export_csv}
  </label>
</div>
			
		</div>
		<div class="col align-self-top">
			{$lang->delete_archived} 
			<br /><br /><span class="text-muted">{$lang->delete_archived_note}</span>
			<br />
				<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="deletepms" value="1" />
  <label class="form-check-label" for="inlineRadio1">{$lang->yes}</label>
</div>
			<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" name="deletepms" value="0" checked="checked" />
  <label class="form-check-label" for="inlineRadio1">{$lang->no}</label>
</div>
		</div>
	</div>
			
	

<div class="text-end p-0 mt-4">
<input type="hidden" name="action" value="do_export" />
<input type="submit" class="btn btn-primary" name="submit" value="{$lang->archive_messages}" />
	</div></div>

</form>
	</div></div>
</div>
</div>
</div>
{$footer}
</body>
</html>