<div class="author_avatar">
  <figure class="avatar_animation"><a href="{$post['profilelink_plain']}"><img src="{$useravatar['image']}" alt="" /></a>
    <div class="corner corner1"></div>
    <div class="corner corner2"></div>
    <div class="corner corner3"></div>
    <div class="corner corner4"></div>
    <div class="corner corner5"></div>
    <div class="corner corner6"></div>
    <div class="corner corner7"></div>
    <div class="corner corner8"></div>
    <figcaption>
      <div class="avatar_info">
        <br />
        <div class="box">{$post['usertitle']}</div>
        <br />
        <div class="box">{$post['groupimage']}</div>
        <br />
        <div class="box">tu jakieś pole profilu</div>
        <br />
        <div class="box">i tu</div>
        <br />
        <div class="box">i tu też</div>
      </div>
    </figcaption>
  </figure>
</div>