<!-- post content -->
{$ignore_bit}
<a name="pid{$post['pid']}" id="pid{$post['pid']}"></a>

<div class="post parent {$unapproved_shade}" style="{$post_visibility}" id="post_{$post['pid']}">
  <div class="character_nick">
    <center><strong><span>{$post['profilelink']}</span></strong></center>
  </div>

  <div class="post_flexible">
    <div class="post_author scaleimages">
      {$post['useravatar']}<br />
    </div>
    <div class="post_content">
      <div class="post_head">
        {$post['posturl']}
        {$post['icon']}
        <span class="post_date"><i class="fa fa-clock-o"></i> {$post['postdate']} <span class="post_edit" id="edited_by_{$post['pid']}">{$post['editedmsg']}</span></span>
        {$post['subject_extra']}
      </div>
      <div class="away-status">
        {$awaybit}
      </div>
      <div class="post_inside">
        <div class="post_body scaleimages" id="pid_{$post['pid']}">
          {$post['message']}
        </div>
        {$post['attachments']}
        <div class="post_meta" id="post_meta_{$post['pid']}">
          {$post['iplogged']}
        </div>
      </div>
      {$post['signature']}
      <div class="user_stats">{$post['fid1']} Tu będzie mechanika2<br>Tu będzie mechanika2<br>Tu będzie mechanika3<br>Tu będzie mechanik44a<br>Tu będzie mechanika<br></div>
    </div>
  </div>
  <div class="post_controls">
    <div class="postbit_buttons author_buttons float_left">
      {$post['button_pm']}{$post['button_rep']}<a href="{$post['fid2']}"><i class="cp cp-feather" title="Korespondencja"></i></a><a href="{$post['fid3']}">
        <i class="cp cp-home" title="Miejsce zamieszkania"></i></a>
      <i class="cp cp-clover user_stats_click" title="Mechanika" id="mechanika" onclick="Thread.statsOnClick(event)"></i>
    </div>
    <div class="postbit_buttons post_management_buttons float_right">
      {$post['button_warn']}{$post['button_quote']}{$post['button_multiquote']}{$post['button_report']}{$post['button_purgespammer']}{$post['button_reply_pm']}{$post['button_replyall_pm']}{$post['button_forward_pm']}{$post['button_delete_pm']}{$post['button_edit']}{$post['button_quickdelete']}{$post['button_quickrestore']}
    </div>
  </div>
</div>