<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
	
	<div class="card body bg-white rounded shadow-sm mt-3 mb-3 border-0">
	<div class="card-body border-0 bg-white rounded align-text-bottom text-start p-3 ps-5 mt-0" style="width: 100%">
					
{$lang->users_browsing_thread}<br />
<i class="bi bi-arrow-return-right"></i> &nbsp;<span class="text-muted">{$onlinemembers}{$onlinesep}{$invisonline}{$onlinesep2}{$guestsonline}</span>
	
</div></div>
	
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	
	<div class="card-body bg-white shadow-sm rounded border-0 p-3 mt-3" style="font-size: 14px">
		{$lang->users_browsing_thread}<br />
<i class="bi bi-arrow-return-right"></i> &nbsp;<span class="text-muted">{$onlinemembers}{$onlinesep}{$invisonline}{$onlinesep2}{$guestsonline}</span>
	</div>
	
</div>