<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div id="quickreply_spinner" class="showthread_spinner" style="display: none"><img src="{$theme['imgdir']}/spinner.gif" /></div>

{$moderation_notice}
<form method="post" action="newreply.php?tid={$tid}&amp;processed=1" name="quick_reply_form" id="quick_reply_form">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="subject" value="RE: {$reply_subject}" />
	<input type="hidden" name="action" value="do_newreply" />
	<input type="hidden" name="posthash" value="{$posthash}" id="posthash" />
	<input type="hidden" name="quoted_ids" value="" id="quoted_ids" />
	<input type="hidden" name="lastpid" id="lastpid" value="{$last_pid}" />
	<input type="hidden" name="from_page" value="{$page}" />
	<input type="hidden" name="tid" value="{$tid}" />
	<input type="hidden" name="method" value="quickreply" />
	
<div class="row mb-4 shadow-sm border-0 rounded bg-white p-3 pt-5 pb-3 m-0" style="border-bottom: 1px solid #e8ecf3">
<div class="col-2 align-self-start align-top text-center p-1">
	
	<img src="{$mybb->user['avatar']}" class="rounded-circle" style="width: 100px; height: 100px">
	
	</div>
	<div class="col-10 align-self-start text-left p-2 ps-3 pe-4">
		
		<textarea class="form-control border border" style="resize: none; height: 100px"  name="message" id="message" tabindex="1" placeholder="{$lang->write_reply}"></textarea>
			<div class="editor_control_bar" id="quickreply_multiquote" style="display: none">
					{$lang->quickreply_multiquote_selected} <a href="./newreply.php?tid={$tid}&amp;load_all_quotes=1" onclick="return Thread.loadMultiQuoted();">{$lang->quickreply_multiquote_now}</a> {$lang->or} <a href="javascript:void(0)" onclick="Thread.clearMultiQuoted(); return false;">{$lang->quickreply_multiquote_deselect}</a>.
				</div>
		<div class="row mt-2">
			
					<div class="col text-end align-self-center">
						<input type="submit" class="btn btn-primary" value="{$lang->post_reply}" tabindex="2" accesskey="s" id="quick_reply_submit" />
					</div>
				</div>
			</div>
		</div>
	
	
</form>
</div>

<!-- responsive -->

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="card border-0 shadow-sm">
    <div class="card-body p-2">
		
		<div id="quickreply_spinner" class="showthread_spinner" style="display: none"><img src="{$theme['imgdir']}/spinner.gif" /></div>

{$moderation_notice}
<form method="post" action="newreply.php?tid={$tid}&amp;processed=1" name="quick_reply_form" id="quick_reply_form">
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<input type="hidden" name="subject" value="RE: {$reply_subject}" />
	<input type="hidden" name="action" value="do_newreply" />
	<input type="hidden" name="posthash" value="{$posthash}" id="posthash" />
	<input type="hidden" name="quoted_ids" value="" id="quoted_ids" />
	<input type="hidden" name="lastpid" id="lastpid" value="{$last_pid}" />
	<input type="hidden" name="from_page" value="{$page}" />
	<input type="hidden" name="tid" value="{$tid}" />
	<input type="hidden" name="method" value="quickreply" />
		
		<textarea class="form-control border border" style="resize: none; height: 100px"  name="message" id="message" tabindex="1" placeholder="{$lang->write_reply}"></textarea>
		<div class="mt-2 p-0">
						<input type="submit" class="btn btn-primary p-2" style="width: 100%" value="{$lang->post_reply}" tabindex="2" accesskey="s" id="quick_reply_submit" />
					</div>
	<div class="editor_control_bar" id="quickreply_multiquote" style="display: none">
					{$lang->quickreply_multiquote_selected} <a href="./newreply.php?tid={$tid}&amp;load_all_quotes=1" onclick="return Thread.loadMultiQuoted();">{$lang->quickreply_multiquote_now}</a> {$lang->or} <a href="javascript:void(0)" onclick="Thread.clearMultiQuoted(); return false;">{$lang->quickreply_multiquote_deselect}</a>.
				</div>
		</div>
</div>
		</form>
		</div>