<div class="form-check form-switch mb-1">
  <input type="checkbox" class="form-check-input" name="receivepms" id="receivepms" value="1" {$receivepmscheck} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->receive_pms}</label>
</div>
{$pms_from_buddys}
<div class="form-check form-switch mb-1">
  <input type="checkbox" class="form-check-input" name="pmnotice" id="pmnotice" value="1"{$pmnoticecheck} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->pm_notice}</label>
</div>
<div class="form-check form-switch mb-1">
  <input type="checkbox" class="form-check-input" name="pmnotify" id="pmnotify" value="1" {$pmnotifycheck} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->pm_notify}</label>
</div>
<div class="form-check form-switch mb-1">
  <input type="checkbox" class="form-check-input" name="buddyrequestspm" id="buddyrequestspm" value="1" {$buddyrequestspmcheck} />
  <label class="form-check-label" for="flexSwitchCheckDefault">{$lang->buddyrequests_pm}</label>
</div>