<a href="usercp.php?action=usergroups" class="btn btn-profile"><i class="bi bi-people"></i> &nbsp;&nbsp; {$lang->ucp_nav_usergroups}</a>
<a href="usercp.php?action=editlists" class="btn btn-profile"><i class="bi bi-person-heart"></i> &nbsp;&nbsp; {$lang->ucp_nav_editlists}</a>
	{$attachmentop}
<a href="usercp.php?action=drafts" class="btn btn-profile"><i class="bi bi-pencil"></i> &nbsp;&nbsp; {$draftcount}</a>
<a href="usercp.php?action=subscriptions" class="btn btn-profile"><i class="bi bi-plus"></i> &nbsp;&nbsp; {$lang->ucp_nav_subscribed_threads}</a>
<a href="usercp.php?action=forumsubscriptions" class="btn btn-profile"><i class="bi bi-bell"></i> &nbsp;&nbsp; {$lang->ucp_nav_forum_subscriptions}</a>
<a href="{$profile_link}" class="btn btn-profile"><i class="bi bi-person"></i> &nbsp;&nbsp; {$lang->ucp_nav_view_profile}</a>