<div>
				<a class="btn btn-profile" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-modu2" role="button"><i class="bi bi-chevron-down"></i> &nbsp;&nbsp; {$lang->ucp_nav_messenger}</a>
    <div id="collapse-modu2" class="collapse bg-transparent">
		{$ucp_nav_compose}
		{$folderlinks}
{$ucp_nav_tracking}
		<a href="private.php?action=folders" class="btn btn-profile">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-gear"></i> &nbsp;&nbsp; {$lang->ucp_nav_edit_folders}</a>
				
				</div>
</div>