<form action="usercp.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	
<div class="form-group">
	<label for="notepad">{$lang->personal_notepad}</label>
	<textarea name="notepad" id="notepad" cols="1" rows="10" class="form-control border" style="height: 200px; resize: none">{$mybb->user['notepad']}</textarea>
	</div>
	
	<div class="form-group text-end mt-2">
		<input type="hidden" name="action" value="do_notepad" />
<input type="submit" class="btn btn-primary" name="submit" value="{$lang->update_notepad}" />
	</div>
</form>