<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->edit_sig}</title>
{$headerinclude}
</head>
<body>
{$header}
<div class="container">
<div class="row">
<div class="col-3">

{$usercpnav}
				
</div>
<div class="col-9">
{$signature}				
<div class="card shadow-sm bg-white rounded border-0">
<div class="card-body bg-white p-2 p-sm-2 p-md-2 p-lg-5 p-xl-5 p-xxl-5 mt-0 rounded">
	<div class="legend mb-4">{$lang->edit_sig_error_title}</div>
	<ul>
		<li>{$lang->edit_sig_no_permission}</li>
	</ul>
	</div></div>
	</div></div>

{$footer}
</body>
</html>