<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"><div class="row mb-3 ps-3 pe-3">
	<div class="col-auto align-self-center">
		<span class="thread_status {$folder}" title="{$folder_label}">&nbsp;</span>
	</div>
	<div class="col align-self-center">
		{$gotounread}{$thread['threadprefix']}<a href="{$thread['threadlink']}" class="{$new_class}">{$thread['subject']}</a><br /><span class="text-muted" style="font-size: 14px">{$lang->notification_method}: {$notification_type}</span>
	</div>
	<div class="col-1 align-self-center">
		{$thread['replies']}
	</div>
	<div class="col-1 align-self-center">
		{$thread['views']}
	</div>
	<div class="col-3 align-self-center text-end">
		<span class="text-muted">{$lastpostdate}<br />
		<a href="{$thread['lastpostlink']}">{$lang->lastpost}</a> <avatarep_suid_[{$thread['lastposteruid']}]>{$lastposterlink}
			</div>
		<div class="col-auto align-self-center text-end">
			<input type="checkbox" class="form-check-input" name="check[{$thread['tid']}]" value="{$thread['tid']}" />
		</div>
	</div>
	</div>
	
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="card border-0">
    <div class="card-body border-0">
        <h4 class="card-title"><a href="{$thread['threadlink']}" class="{$new_class}">{$thread['subject']}</a></h4>
        <h6 class="text-muted card-subtitle">{$lang->notification_method}: <span class="text-muted">{$notification_type}</span></h6>
        <p class="card-text text-muted">{$lang->replies} {$thread['replies']}, {$lang->views} {$thread['views']}</p>
        <div class="row p-3 bg-light m-0 rounded">
            <div class="col align-self-center"><avatarep_suid_[{$thread['lastposteruid']}]>{$lastposterlink}<br /><span class="text-muted">{$lastpostdate}</span><span class="float-end"><input type="checkbox" class="form-check-input" name="check[{$thread['tid']}]" value="{$thread['tid']}" /></span></div>
        </div>
    </div>
</div>
		</div>