<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row ps-3 pe-3">
	<div class="col-7 align-self-center">
		<strong><a href="{$forum_url}">{$forum['name']}</a></strong><br /><span class="text-muted" style="font-size: 14px"><a href="usercp.php?action=removesubscription&amp;type=forum&amp;fid={$forum['fid']}&amp;my_post_key={$mybb->post_code}">{$lang->unsubscribe}</a> | <a href="newthread.php?fid={$forum['fid']}">{$lang->new_thread}</a></span>
	</div>
	<div class="col-1 align-self-center">
		{$posts}
	</div>
	<div class="col-1 align-self-center">
		{$threads}
	</div>
	<div class="col-3 align-self-center">
		{$lastpost}
	</div>
</div>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="card border-0">
    <div class="card-body border-0">
        <h4 class="card-title" style="font-size: 16px; font-weight: 500"><a href="{$forum_url}">{$forum['name']}</a></h4>
        <h6 class="text-muted card-subtitle mb-2"><a href="usercp.php?action=removesubscription&amp;type=forum&amp;fid={$forum['fid']}&amp;my_post_key={$mybb->post_code}">{$lang->unsubscribe}</a></h6>
        <p class="card-text text-muted">{$lang->posts} {$posts}, {$lang->threads} {$threads}</p>
        <div class="row p-3 bg-light m-0 rounded">
            <div class="col align-self-center">{$lastpost}</div>
        </div>
    </div>
</div>
		</div>