<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row mt-5 ps-3 pe-3">
	<div class="col">
		<a href="usercp.php?action=removesubscriptions&amp;my_post_key={$mybb->post_code}" class="btn btn-primary">{$lang->remove_all_subscriptions}</a>
	</div>
	<div class="col-auto">
            <select name="do" class="form-select border" style="width: auto">
			<option value="delete">{$lang->delete_subscriptions}</option>
			<option value="no_notification">{$lang->update_no_notification}</option>
			<option value="email_notification">{$lang->update_email_notification}</option>
			<option value="pm_notification">{$lang->update_pm_notification}</option>
		</select>
	</div>
	<div class="col-auto">
		<div class="rounded-pill">{$gobutton}</div>
	</div>
</div>
	</div>
	<div>
</div>


<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none mt-5 ps-3 pe-3">
<a href="usercp.php?action=removesubscriptions&amp;my_post_key={$mybb->post_code}" class="btn btn-primary mb-3" style="width: 100%">{$lang->remove_all_subscriptions}</a>
	<div class="row">
		<div class="col">
			<select name="do" class="form-select border">
			<option value="delete">{$lang->delete_subscriptions}</option>
			<option value="no_notification">{$lang->update_no_notification}</option>
			<option value="email_notification">{$lang->update_email_notification}</option>
			<option value="pm_notification">{$lang->update_pm_notification}</option>
		</select>
		</div>
		<div class="col-auto">
			{$gobutton}
		</div>
	</div>
</div>