<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"><div class="row mb-3 pe-3 ps-3">
	<div class="col-auto align-self-center">
		{$icon}
	</div>
	<div class="col align-self-center">
		<a href="attachment.php?aid={$attachment['aid']}" target="_blank">{$attachment['filename']}</a><br /><span class="text-muted">{$sizedownloads}</span>
	</div>
	<div class="col align-self-center">
		<a href="{$attachment['postlink']}#pid{$attachment['pid']}">{$attachment['subject']}</a></span>
	</div>
	<div class="col align-self-center text-muted text-end">
		{$attachdate}
	</div>
	<div class="col-auto align-self-center text-end">
		<input type="checkbox" class="form-check-input" name="attachments[{$attachment['aid']}]" value="{$attachment['aid']}" />
	</div>
</div>
</div>

<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none p-3 border-bottom">
{$icon} <a href="attachment.php?aid={$attachment['aid']}" target="_blank">{$attachment['filename']}</a><br /><br />
<span class="text-muted">{$sizedownloads}</span><br />
<span class="text-muted">{$attachdate}</span> <input type="checkbox" class="form-check-input float-end" name="attachments[{$attachment['aid']}]" value="{$attachment['aid']}" />
</div>