<div>
				<a class="btn btn-profile" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-modu" role="button"><i class="bi bi-chevron-down"></i> &nbsp;&nbsp; {$lang->ucp_nav_profile}</a>
				
				
    <div id="collapse-modu" class="collapse bg-transparent">
		<a href="usercp.php?action=profile" class="btn btn-profile">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-pencil"></i> &nbsp;&nbsp; {$lang->ucp_nav_edit_profile}</a>
{$changenameop}
<a href="usercp.php?action=password" class="btn btn-profile">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-lock"></i> &nbsp;&nbsp; {$lang->ucp_nav_change_pass}</a>
<a href="usercp.php?action=email" class="btn btn-profile">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-at"></i> &nbsp;&nbsp; {$lang->ucp_nav_change_email}</a>      
<a href="usercp.php?action=avatar" class="btn btn-profile">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-image"></i> &nbsp;&nbsp; {$lang->ucp_nav_change_avatar}</a>		
{$changesigop} 
		<a href="usercp.php?action=options" class="btn btn-profile">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-gear"></i> &nbsp;&nbsp; {$lang->ucp_nav_edit_options}</a>		
				</div>
</div>