<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row mb-4 ps-3 pe-3">
	<div class="col-4 align-self-center">
		<strong>{$usergroup['title']}</strong> {$displaycode}
		<span class="text-muted">{$description}</span>
	</div>
	<div class="col-4 align-self-center text-center">
		{$usergroup['usertitle']}
	</div>
	<div class="col-4 align-self-center text-center">
		{$leavelink}
	</div>
</div>
</div>


<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none ps-3 pe-3 mb-4">
	<div class="row">
		<div class="col align-self-top">
			<strong>{$usergroup['title']}</strong> {$displaycode}
			
			<span class="text-muted">{$description}</span>
		</div>
		<div class="col align-self-top">
			{$usergroup['usertitle']}
		</div>
	</div>
	
	<div class="mt-3 text-end">
		{$leavelink}
	</div>
</div>