<div class="legend mt-4 mb-4">
	<div class="row">
		<div class="col align-self-center">
			{$lang->latest_warnings}
		</div>
		<div class="col-auto text-end align-self-center">
			<button class="btn btn-multipage" role="button">{$lang->current_warning_level}</button>
		</div>
	</div>
</div>

<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row mb-4 ps-3 pe-3" style="font-weight: 700">
		<div class="col align-self-center">
			{$lang->warning}
	</div>
	<div class="col align-self-center">
		{$lang->date_issued}
	</div>
	<div class="col align-self-center">
		{$lang->expiry_date}
	</div>
	<div class="col align-self-center">
		{$lang->issued_by}
	</div>
</div>
</div>


{$warnings}