<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
<div class="row ps-3 pt-3 pe-3 pb-3 border-bottom m-0">
	<div class="col-auto align-self-center d-flex justify-content-center" style="width:auto">
		<i class="bi bi-chat"></i>
	
	</div>

		<div class="col-5 align-self-center">
			
			<a href="{$thread['threadlink']}" style="font-size: 14px; font-weight: 500">{$thread['subject']}</a> <br />
			<span class="text-muted" style="font-size: 12px">
				<span class="lastpostbit">{$thread['profilelink']}</span> {$thread['start_datetime']}
			</span>
			
		</div>
		<div class="col-auto align-items-center d-flex justify-content-center">
			
			{$thread['threadprefix']}
			
		</div>
		
			
			
		<div class="col-2 text-end align-self-center">
			
			<span class="text-muted" style="font-size: 12px">{$lang->replies}</span> <span style="font-size: 12px">{$thread['replies']}</span><br />
			<span class="text-muted" style="font-size: 12px">{$lang->views}</span> <span style="font-size: 12px">{$thread['views']}</span>
			
		</div>
		<div class="col-auto text-center" style="padding-left: 30px">
			
			<avatarep_uid_[{$thread['lastposteruid']}]>
				
		</div>
			<div class="col-auto text-start align-self-center">
				
				<span class="lastpostbit mb-0" style="font-size: 12px">{$lastposterlink}</span> 
				<span class="text-muted mt-0" style="font-size: 12px">{$lastpostdate}</span>
				
			</div>
			
			
	</div></div>
	
	
	<div class="d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
	<div class="card border-0">
    <div class="card-body border-0">
        <h4 class="card-title"><a href="{$thread['threadlink']}">{$thread['subject']}</a></h4>
        <h6 class="text-muted card-subtitle"><span class="lastpostbit">{$thread['profilelink']}</span> {$thread['start_datetime']}</h6>
        <p class="card-text text-muted">{$lang->replies} {$thread['replies']}, {$lang->views} {$thread['views']}</p>
        <div class="row p-3 bg-light m-0 rounded">
			<div class="col-auto align-self-center"><avatarep_uid_[{$thread['lastposteruid']}]></div>
            <div class="col align-self-center">{$lastposterlink}<span class="text-muted">{$lastpostdate}</span></div>
        </div>
    </div>
</div>
		</div>