<div class="row p-3 border-bottom m-0">
	<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center">
		<img src="{$theme['imgdir']}/buddy_{$status}.png" title="{$lang->$status}" alt="{$lang->$status}" style="vertical-align: middle;" /> &nbsp;<a href="{$user['profilelink']}">{$user['username']}</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center">
		{$lang->lastvisit} <span class="text-muted">{$user['lastvisit']}</span>
	</div>
	<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center text-center">
		{$emailcode}
	</div>
	<div class="col-6 col-sm-6 col-md-6 col-lg col-xl col-xxl align-self-center text-center">
		{$pmcode}
	</div>
</div>