:root {
	
	/* Colours */
	--main-color: #143426d6;
	--main-nt-color: #143426;
	--secondary-color: #1F4132;
	--secondary2-color: #692900;
	--accent-color: #955e31;
	--accent2-color: #330308d6;
	--mycode-color: #266046;
	--status-icon-color: #27ae60;
	--new-status-icon-color: #5e1f0b;
	
	--main-font-color: #a3a3a3;
	--secondary-font-color: #878787;	
	--sticky-font-color: #838383;
	--link-hover: white;
	
	/* User colours */
	--registered: #8e8e8ed6;
	--not-active: #303030;
	--banned: #232323d6;
	--npc: #20523cB0;
	--player: #3f7e62B0;
	--opal: #d0bb9d99;
	--citrine: #bbbc74D6;
	--aventurine: #7a9970D6;
	--sapphire: #7999a2D6;
	--amethyst: #86788dD6;
	--rose-quartz: #d09da4D6;
	--ruby: #ae6c6cD6;
	--amber: #5c4538D6;
	
	/*--background-color: #161616;*/
	--background-color: #141311;
	/*--box-background: #0d100ed6;*/
	--box-background: #141311d6;
	--dropdown-background: #1c1e1dd6;
	--sticky-color: #171615;
	--trow-bg: #201f1e;
	--pagination-bg: #2b2b2b;
	--button-bg: radial-gradient(circle, #1f4132, #1c3e2f, #193a2c, #173729, #143426) !important;
	--brown-gradient: radial-gradient(circle, #c09465, #aa794a, #955e31, #7f4319, #692900) !important;
	--gradient: linear-gradient(to bottom, #1f4132, #204736, #224c39, #23523d, #245841, #246146, #246a4a, #24734e, #238153, #239058, #249f5d, #27ae60);
	--shadow-text: 2px 2px 2px black;
	
	--main-border: 1px solid rgba(30,30,30,0.298039);
	--secondary-border: 1px solid #31302dd9;
	--radio-border: solid 1px #303030;
	--trow-border: #222;
	--main-shadow: rgba(0,0,0,0.498039) 0 0 3px, rgba(0,0,0,0.498039) 0 0 5px inset;
	--text-shadow: 1px 1px rgba(0,0,0,0.498039);
	/* Images */
	--background-image: url("/images/emerald/theme/background-image.png");
	/*--background-image: url("/images/emerald/theme images/background-image-2.jpeg");*/
	/*--category-image: url("/images/emerald/theme/category-image-2.jpeg");
	--category-image: url("/images/emerald/theme/category-image-3.jpeg");*/
	--category-image: url("/images/emerald/theme/category-image.png");
	--thead-image: url("/images/emerald/theme/thead-image.png");
	--blocked-forum: url("/images/emerald/theme/forum-stats.png");
	--new-posts: url("/images/emerald/theme/new-posts.png");
	--no-new-posts: url("/images/emerald/theme/no-new-posts.png");
	--header-image: url("/images/emerald/theme/header-image.png");
	--post-background: url("/images/emerald/theme/post-background.png");
	--nick-background: url("/images/emerald/theme/nick-background.png");
	--forum-stats: url("/images/emerald/theme/forum-stats.png");
	--frame: url("/images/emerald/theme/frame.png");
	
	/* Fonts */
	--main-font: 'Open Sans';
	--thead-font: "Amarante", serif;
	--header-font: "Teko", sans-serif;
	--nick-font: "Dancing Script", cursive;
}