:root {
	
	/* Colours */
	--main-color: #143426d6;
	--main-nt-color: #143426;
	--secondary-color: #1F4132;
	--secondary2-color: #692900;
	--accent-color: #955e31;
	--accent2-color: #330308d6;
	--mycode-color: #266046;
	--status-icon-color: #27ae60;
	--new-status-icon-color: #5e1f0b;
	
	--main-font-color: #a3a3a3;
	--secondary-font-color: #878787;	
	--sticky-font-color: #838383;
	--link-hover: white;
	
	/* User colours */
	--registered: #8e8e8ed6;
	--not-active: #303030;
	--banned: #232323d6;
	--npc: #20523cB0;
	--player: #3f7e62B0;
	--opal: #d0bb9d99;
	--citrine: #bbbc74D6;
	--aventurine: #7a9970D6;
	--sapphire: #7999a2D6;
	--amethyst: #86788dD6;
	--rose-quartz: #d09da4D6;
	--ruby: #ae6c6cD6;
	--amber: #5c4538D6;
	
	/*--background-color: #161616;*/
	--background-color: #141311;
	/*--box-background: #0d100ed6;*/
	--box-background: #141311d6;
	--dropdown-background: #1c1e1dd6;
	--sticky-color: #171615;
	--trow-bg: #201f1e;
	--pagination-bg: #2b2b2b;
	--button-bg: radial-gradient(circle, #1f4132, #1c3e2f, #193a2c, #173729, #143426) !important;
	--button-bg-vertical: linear-gradient(to bottom, #1f4132, #1d3e30, #1b3c2d, #19392b, #173729, #173729, #173729, #173729, #19392b, #1b3c2d, #1d3e30, #1f4132);
	--brown-gradient: radial-gradient(circle, #c09465, #aa794a, #955e31, #7f4319, #692900) !important;
	--brown-gradient-vertical: linear-gradient(to bottom, #c09465, #b07f51, #a06b3d, #8f572b, #7f4319, #7f4319, #7f4319, #7f4319, #8f572b, #a06b3d, #b07f51, #c09465);
	--gradient: linear-gradient(to bottom, #1f4132, #204736, #224c39, #23523d, #245841, #246146, #246a4a, #24734e, #238153, #239058, #249f5d, #27ae60);
	--shadow-text: 2px 2px 2px black;
	
	--main-border: 1px solid rgba(30,30,30,0.298039);
	--secondary-border: 1px solid #31302dd9;
	--radio-border: solid 1px #303030;
	--trow-border: #222;
	--main-shadow: rgba(0,0,0,0.498039) 0 0 3px, rgba(0,0,0,0.498039) 0 0 5px inset;
	--right-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.3);
	--text-shadow: 1px 1px rgba(0,0,0,0.498039);
	/* Images */
	--background-image: url(https://i.imgur.com/BgMgifV.png);
	/*--background-image: url(https://i.imgur.com/E5rJoV2.jpeg);*/
	/*--category-image: url(https://i.imgur.com/Hex8q0q.jpeg);
	--category-image: url(https://i.imgur.com/4Ed0j5Y.png);*/
	--category-image: url(https://i.imgur.com/JuMZlYh.png);
	--thead-image: url(https://i.imgur.com/zH4d3zl.png);
	--blocked-forum: url(https://i.imgur.com/hkkIvVC.png);
	--new-posts: url(https://i.imgur.com/6cqUKnn.png);
	--no-new-posts: url(https://i.imgur.com/sANoQaB.png);
	--header-image: url(https://i.imgur.com/96810sm.png);
	--post-background: url(https://i.imgur.com/4Ed0j5Y.png);
	--nick-background: url(https://i.imgur.com/PUzHlyK.png);
	--forum-stats: url(https://i.imgur.com/JuMZlYh.png);
	--frame: url(https://i.imgur.com/ZuUaXTs.png);
	
	/* Fonts */
	--main-font: 'Open Sans';
	--thead-font: "Amarante", serif;
	--header-font: "Teko", sans-serif;
	--nick-font: "Dancing Script", cursive;
}